<div class="fitness_block_wrapper" style="margin-top: 5px;">
    <table width="100%">
        <tr>
            <td>
                <h3  style="float:left;">NEW/EDIT MINI GOAL</h3>
            </td>
            <td>
                <a  style="cursor: pointer;float:right;margin-right:10px;" id="cancel" onclick="javascript:void(0)">[CANCEL]</a>
                <a  style="cursor: pointer;float:right;margin-right:10px;" id="save_close" onclick="javascript:void(0)">[SAVE/CLOSE]</a>
                <a  style="cursor: pointer;float:right;margin-right:10px;" id="save" onclick="javascript:void(0)">[SAVE]</a>
            </td>
        </tr>
    </table>

    <hr class="orange_line">
    <div class="internal_wrapper2">
        <form action="" id="add_goal_form">
            <table>
                <tr>
                    <td width="120">
                        Start Date
                    </td>
                    <td>
                        <input style="width:75px;"  type="text" name="start_date" id="start_date" size="6" class="required" value="<%= item.start_date %>">
                    </td>
                    <td id="error_start_date" class="error_message"></td>
                </tr>
                <tr>
                    <td>
                        Achieve By 
                    </td>
                    <td>
                        <input style="width:75px;" type="text" name="deadline" id="deadline" size="6" class="required" value="<%= item.deadline %>">
                    </td>
                    <td id="error_deadline"  class="error_message"></td>
                </tr>
                <tr>
                    <td colspan="3">

                    </td>
                </tr>
                <tr>
                    <td>Goal Details</td>
                    <td colspan="2">
                        <textarea style="width:98%;" name="details" id="details" rows="20" cols="150" class="required" ><%= item.details %></textarea> 
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
