<div style="display: inline-block; float: right;"  class="right">
    <div id="toolbar" class="toolbar-list right">
        <a title="Add New" id="add_item" class="toolbar" onclick="javascript:void(0)">
            <span  class="icon-32-new"> </span>
        </a>
    </div>
</div>

<div style="float:left;">
    <label>Filter Primary Goals:</label>
    <input id="start_from" size="10" type="text" placeholder="Start From" >
    <input id="start_to" size="10" type="text" placeholder="Start To" >
    <input id="end_from" size="10" type="text" placeholder="End From" >
    <input id="end_to" size="10" type="text" placeholder="End To" >
    
    <input id="search" type="button" value="Search">
    <input id="clear_all" type="button" value="Clear All">
    
    <label style="margin-left: 10px;">Status</label>
    <div style="display: inline-block;" id="status_wrapper"></div>
    
    <div style="display: inline-block;" id="state_wrapper"></div>
    
</div>
    