<div class="fitness_block_wrapper" style="height:30px;margin-top: 10px;">
    <div class="internal_wrapper">
        <div style="width:100%;">

            <a data-id="<%= id %>" style="cursor: pointer;" class="view_calender" onclick="javascript:void(0)">[VIEW ON CALENDAR]</a>

            <% if((current_page == 'my_progress') && edit_allowed == true) { %>
            <a data-id="<%= id %>" style="cursor: pointer;float:right;margin-right:10px;" class="trash_item" onclick="javascript:void(0)">[TRASH]</a>
            <% } %>
            
            <a data-id="" style="cursor: pointer;float:right;margin-right:10px;" class="close_item" onclick="javascript:void(0)">[CLOSE]</a>
            
            <% if ((current_page == 'self_assessments') && edit_allowed) { %>
                <a data-id="<%= id %>" style="cursor: pointer; float:right;margin-right:10px;" class="edit_item" onclick="javascript:void(0)">[EDIT]</a>
                
                <a data-id="<%= id %>" style="cursor: pointer;float:right;margin-right:10px;" class="submit_to_trainer" onclick="javascript:void(0)">[SUBMIT TO TRAINER]</a>
            <% } %>
        </div>
        <div class="clr"></div>
    </div>
    <hr class="orange_line">
</div>