.multicalendar tr,.multicalendar td,.multicalendar th{border:0;text-align:left;padding:0px;}
.multicalendar table [class*=span],.row-fluid .multicalendar table [class*=span] {display: table-row;}
.multicalendar .mv-dayname,.multicalendar .wk-dayname{text-align:center;}
.multicalendar .rb-i {overflow:hidden;color:white;white-space:nowrap;width:100%}
.multicalendar .t-title {}
.multicalendar .t-loc {display:none}
.multicalendar .t-desc {display:none}
.multicalendar td.specialday {display: none;}
.multicalendar .st-more {color:#000;}
.multicalendar .uEdition {text-decoration:underline;}
/* start alert style */
#popup_container {font-size:12px;min-width: 300px; /* Dialog will be no smaller than this */_width:320px;max-width: 600px; /* Dialog will wrap after this width */background: #fff;border: solid 1px #d8d8d8;color: #000;}
#ctl, #cbl, #ctr, #cbr {display:none;}
#popup_title {font-size:12px;font-weight: bold;text-align:left;line-height: 1.9em;color: #333;border-bottom: solid 1px #d8d8d8;cursor: default;padding:0 0 0 8px;margin: 0em;}
#popup_content {background: 16px 16px no-repeat;padding: 12px;margin: 0em;}
#popup_message {padding-left: 48px;}
#popup_panel {text-align: center;margin: 1em 0em 0em 1em;}
/* end alert style */
.multicalendar .calmain,.multicalendar .ctoolbar,.multicalendar .infocontainer {margin: 0;font-size: 12px;font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;padding: 0;height: 100%;width:100%;}
.multicalendar .calmain div,.multicalendar .calmain span,.multicalendar .calmain td {font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;}
.multicalendar.calendaredition .ui-datepicker{font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;font-size: 12px;}
.multicalendar .infocontainer input {border: solid 1px #3C7FB1; font-size: 12px;height: 15px;}
.multicalendar .infocontainer input[type='checkbox'] {border: none;}
.multicalendar .infocontainer textarea {border: solid 1px #3C7FB1;overflow:auto;}
/* JQuery Validation */
.multicalendar input.cusErrorPanel,.multicalendar cusErrorPanel.cusErrorPanel,.multicalendar textarea.cusErrorPanel {border:solid 1px red;}
.multicalendar div.cusErrorPanel {z-index: auto;position:absolute;width: 276px;height: 35px;overflow: hidden;text-indent: 5px;line-height: 40px;font-size: 12px;font-family: Arial;color:#000000;background: url(images/tooltop.gif) no-repeat left top;opacity:0.9;filter: alpha(opacity=90);}
.multicalendar .infocontainer {margin:0px;padding:4px; }
.multicalendar .infocontainer .inputtext {    font-size: 12px;  width: 200px;}
.multicalendar .infocontainer .date {width:70px; font-size: 12px;}
.multicalendar .infocontainer .fform {margin:0px;}
.multicalendar .infocontainer .fform label {display:block;margin-top:2px;padding:2px;vertical-align:top;}
.multicalendar .infocontainer .fform label.checkp {display:inline;}
.multicalendar .infocontainer .fform label span {font-weight:bold;display:block; margin-bottom: 3px;}
.multicalendar .infocontainer .fform label span.inl{display:inline;}
.multicalendar div.calmain {position: relative;}
.multicalendar div.ptogtitle {position: absolute;z-index:100;top: 0px;right: 3px;height: 18px;padding: 1px 2px 1px 2px;font-weight: normal;}
.multicalendar div.loadicon { background:#c44;color:#fff;}
.multicalendar div.loaderror {padding: 1px 4px 1px 4px;background:#fad163;}
.multicalendar div.ctoolbar {OVERFLOW: hidden;POSITION: relative;margin-bottom:5px;}
.multicalendar div.ctoolbar div.fbutton {PADDING: 1px;DISPLAY: block;FLOAT: left;CURSOR: pointer;HEIGHT: 22px;margin-left:1px;}
.multicalendar div.ctoolbar div.fbutton  div {float: left;padding: 2px 3px;}
.multicalendar div.ctoolbar div.fbutton span {float: left;display: block;}
.multicalendar div.ctoolbar div.btnseparator {float: left;height: 100%;margin: 3px;}
.multicalendar div.ctoolbar div.fshowdatep {padding:1px;DISPLAY: block;FLOAT: left;CURSOR:default;HEIGHT: 22px;}
.multicalendar div.ctoolbar div.fshowdatep  div {float: left;padding: 2px 3px;}
.multicalendar div.ctoolbar div.fshowdatep span {float: left;display: block;}
.mv_dlg .bubbletime{font-weight:bold}
.ui-dialog{ position: absolute;overflow:visible;color:#000}
.multicalendar .ui-datepicker { display:block }


.ui-icon-closethick {
    background-image: url(images/close.png) !important;
    background-position: left top !important;
    margin: 0 !important;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-icon-closethick {
    width: 20px !important;
    height: 20px !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none !important;
    border: none !important;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close:hover {
    padding: 0 !important;
}
.mv_dlg.ui-dialog .ui-dialog-titlebar-close span.ui-button-text{display:none}
#editEventContainer,#bbit-cal-buddle,#bbit-cs-buddle,.mv_dlg_nmonth{display:none}

#appointment_title{
    margin: 0;
    padding: 0 0 0 7px;
}











.event_status_wrapper {
   background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    display: none;
    padding: 15px 0 2px;
    position: fixed;
    right: 24px;
    text-align: center;
    top: 0;
    width: 102px;

}

.event_status_wrapper a{
    margin: 5px;
}

.client_status_wrapper {
   background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    display: none;
    padding: 15px 0 2px;
    position: fixed;
    right: 24px;
    text-align: center;
    top: 205px;
    width: 102px;

}

.client_status_wrapper a{
    margin: 5px;
}


.event_status_pending {
    background-color: #EBEBEB;
    border: 1px solid #818283;
    color: #818283 !important;
}

.event_status_attended {
    background-color: #DEFFE2;
    border: 1px solid #1BC721;
    color: #006C09 !important;
}


.event_status_cancelled {
    background-color: #FFCA9F;
    border: 1px solid #1BC721;
    color: #006C09 !important;
}


.event_status_latecancel {
    background-color: #F9E4F6;
    border: 1px solid #1BC721;
    color: #006C09 !important;
}



.event_status_noshow {
    background-color: #9999FF;
    border: 1px solid #1BC721;
    color: #006C09 !important;
}

.event_status_complete {
    background-color: #DEFFE2;
    border: 1px solid #1BC721;
    color: #006C09 !important;
}


.event_status__button {
    display: block;
    font-size: 10px !important;
    font-weight: bold;
    height: 11px;
    margin: 5px 0 0 5px;
    padding: 2px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 90px;
}



.hideimage{
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0
}

#event_status{
    float: right;
    text-align: center;
    margin-right: 20px;
}





.entry-form input[type='button']{
    background-color: #E2EFF8;
    border: 1px solid #AED0EA;
    color: #333333;
    line-height: 18px;
    padding: 2px 6px 5px;
    text-decoration: none;
    height: 25px;
    cursor: pointer;
    margin-left: 10px;
}
.table-list{
	font-family: verdana;
	font-size: 12px;
	border: 1px solid #EAEAEA;
	padding: 2px;
}
.table-list th{
	background: #EDF2F6;
    border-bottom: 1px dotted #DDDDDD;
    color: #444444;
    font-size: 12px;
    font-weight: normal !important;
    height: 28px;
    line-height: 28px;
    padding-left: 5px;
    text-align: left;
}
.table-list td{
    border-bottom: 1px dotted #EAEAEA;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 28px;
    padding: 5px;
    text-align: left;
}
.table-list tr:hover{
	background: #E3F3F9;
}
.entry-form{
	background: #EDF2F6;
	width: 350px;
	padding: 10px;
	border: 5px solid #C5D7E2;
	box-shadow: 3px 3px 5px #888;
	position: absolute;
	top: 100px;
	left:105px;
	display: none;
	border-radius: 5px;
        z-index: 999;
}
.entry-form input[type='text']{
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 4px #C5D7E2 inset;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 290px;
}
.entry-form input[type='text']:focus{
	border: 1px solid #C5D7E2;
}


#execise_table th, #execise_table td, #execise_table tr {
    border: 1px solid #000000;
}


#editEvent {
    overflow-y: auto;
    background-color: #f4f4f4;
}
.ui-dialog-titlebar {
    background-color: #F4F4F4 !important;
}


#exercise_fields{
    font-size: 12px;
}


.delete_exercise, .delete_group_client{
    background-image: url('images/delete.png');
    background-repeat: no-repeat;
    display: block;
    height: 15px;
    width: 15px;
}

.copy_exercise {
    background-image: url('images/copy.png');
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}

.trash_exercise {
    background-image: url('images/trash.png');
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}

#add_exercise {
    background-image: url("images/add_exercise.png");
    background-repeat: no-repeat;
    background-size: 24px auto;
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    margin-right: 5px;
    margin-top: 3px;
    width: 24px;
}

#drag_exercise {
    background-image: url('images/drag_arrow_.png');
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}

.drag_exercise_item {
    background-image: url('images/drag_list.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px auto;
    cursor: move;
}


#exercise_table td {
    border-bottom: 1px dotted #cccccc ;
}

#exercise_table, #header_exercise_table {
    border: 1px solid #cccccc ;
    padding: 0;
}

#header_exercise_table {
    background-color:#BBBBBB;
}

#exercise_table th {
  border-bottom: 1px dotted #DDDDDD;
  border-right: 1px dotted #DDDDDD;
  font-weight: bold !important;
}

#exercise_table td {
     border-right: 1px dotted #DDDDDD;
}

.cleditorMain {
    height: 110px !important;
    overflow-y: auto;
    overflow-x: hidden;
}


#email_button {
    background-image: url('images/email_button.png');
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    width: 40px;
    background-size: 40px auto;
    margin-left: 10px;
}


#pdf_button {
    background-image: url('images/pdf_button.png');
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    width: 40px;
    background-size: 40px auto;
    margin-left: 10px;
}

#exercise_table_wrapper{
    max-height: 334px;
    overflow-y: auto;
}


#add_client_button {
    background-color: #E8E8E8 ;
    background-image: url("images/add_exercise.png");
    background-repeat: no-repeat;
    background-size: 24px auto;
    border: 1px solid  	#989898 ;
    color: #000000;
    cursor: pointer;
    display: block;
    height: 23px;
    margin-right: 5px;
    margin-top: 3px;
    padding: 1px;
    text-decoration: none;
    width: 100px;
}

#add_client_button div {
    margin-left: 30px;
    margin-top: 5px;
}

#assessment_wrapper .assessment_input {
    width:60px;
}





/* //////////////////////////////  */
.drag_area li{
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    width: 210px;
    font-size: 14px;
}

.drag_area li[data-name="client_id"] {
    background-color:#99FFFF;
    color: #000000;
}

.drag_area li[data-name="trainer_id"] {
    background-color:#FF99FF;
    color: #000000;
}

.drag_area li[data-name="location"] {
    background-color:#D9DEF1;
    color: #000000;
    font-size: 12px;
}

.drag_area ul {
    height: 250px;
    list-style: none outside none; 
    overflow-x: hidden; 
    overflow-y: auto; 
    padding-left: 0;
}

#reminder_from, #reminder_to {
    width: 70px;
    margin-top: 10px;
}


#reminder_to {
    margin-left: 14px;
}

#send_emails_button {
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}


.event_tooltip {
    background-color: #E2EFF8;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    padding: 5px;
    position: fixed;
    width: 237px;
    z-index: 9999;
    border: 1px solid #AED0EA;
    display: none;
  
}