<div class="fitness_block_wrapper" style="height:30px;margin-top: 20px;">
    <div class="internal_wrapper">
        <div style="width:100%;">
            <div style="float:left;margin-top:-5px;">
                <table>
                    <tr>
                        <td>
                            <div class="notice_image_20"></div>
                        </td>
                        <td>
                            Number of serves to add to my diary entry
                        </td>
                        <td>
                            <input  style="display:inline;width:25px" maxlength="2" type="text" id="number_serves" name="number_serves"/> 
                        </td>
                    </tr>
                </table>
            </div>
            <a data-recipe_id="<%= id %>"  style="cursor: pointer;float:right;margin-right:10px;" id="cancel" onclick="javascript:void(0)">[CANCEL]</a>
            <a data-recipe_id="<%= id %>" style="cursor: pointer;float:right;margin-right:10px;" id="add_diary" onclick="javascript:void(0)">[ENTER]</a>
        </div>
    </div>
    <hr class="orange_line">
</div>
