<div class="fitness_block_wrapper" style="height:30px;margin-top: 20px;">
    <div class="internal_wrapper">
        <div style="width:100%;">
            <% if(parseInt(id)) { %>
                <a  style="cursor: pointer;float:right;margin-right:10px;" id="cancel" onclick="javascript:void(0)">[CANCEL]</a>
                <a  style="cursor: pointer;float:right;margin-right:10px;" id="save_new" onclick="javascript:void(0)">[SAVE/NEW]</a>
                <a  style="cursor: pointer;float:right;margin-right:10px;" id="save_close" onclick="javascript:void(0)">[SAVE/CLOSE]</a>
                <a  style="cursor: pointer;float:right;margin-right:10px;" id="save" onclick="javascript:void(0)">[SAVE]</a>
            <% } else { %>
                <a  style="cursor: pointer;float:right;margin-right:10px;" id="cancel" onclick="javascript:void(0)">[CANCEL]</a>
                <a  style="cursor: pointer;float:right;margin-right:10px;" id="save" onclick="javascript:void(0)">[NEXT]</a>
         <% } %>
        </div>
        <div class="clr"></div>
    </div>
    <hr class="orange_line">
</div>