<div style="border:2px solid #FF7570;padding:2px;">
    <a style="float:right;" class="cancel_add_recipe" href="javascript:void(0)" title="">[CLOSE]</a>
    <div class="clr"></div>
    <table>
        <tr>
            <td style="vertical-align: top;">
                <table width="100%" style="border:1px solid #ccc;">
                    <tbody>
                        <tr>
                            <td width="400">
                                <input placeholder="Recipe Name" type="text" name="search" style="display:inline-block;width:100%;" class="recipe_name dark_input_style">
                            </td>
                            <td>
                                <a onclick="javascript:void(0)" class="search_recipes" style="cursor: pointer;">[Search]</a>
                                <a onclick="javascript:void(0)" class="clear_search" style="cursor: pointer;">[Clear]</a>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="example_day_meal_recipes_list" style="width:700px;"></div>
                <br>
                <div style="text-align:center;width:700px;" class="pagination_container"></div>
            </td>
            <td style="vertical-align:top;">
                <div id="recipe_database_filter_wrapper"> </div>
                <div class="clr"></div>
                <br>
                <div id="recipe_variations_filter_wrapper"> </div>
            </td>
        </tr>
    </table>
</div>
