<div class="fitness_block_wrapper page_container_width example_day_menu_wrapper" style="margin-top: 20px;border:2px solid #ccc;" >
    <div class="internal_wrapper">
       <div id="nutrition_guide_menu" style="padding:2px;">
            <ul >
                <li ><a  data-id="1" class="example_day_link menu_day"  href="javascript:void(0)">[MENU DAY 1]</a></li>
                <li ><a  data-id="2" class="example_day_link menu_day"  href="javascript:void(0)">[MENU DAY 2]</a></li>
                <li ><a  data-id="3" class="example_day_link menu_day"  href="javascript:void(0)">[MENU DAY 3]</a></li>
                <li ><a  data-id="4" class="example_day_link menu_day"  href="javascript:void(0)">[MENU DAY 4]</a></li>
                <li ><a  data-id="5" class="example_day_link menu_day"  href="javascript:void(0)">[MENU DAY 5]</a></li>
                <li ><a  data-id="6" class="example_day_link menu_day"  href="javascript:void(0)">[MENU DAY 6]</a></li>
                <li ><a  data-id="7" class="example_day_link menu_day"  href="javascript:void(0)">[MENU DAY 7]</a></li>
                <% if(status == 1 || status == 2) { %>
                <li ><a class="shopping_list example_day_link"  href="javascript:void(0)">[SHOPPING LIST]</a></li>
                <% } %>
            </ul>
        </div>
        <hr class="orange_line">
        <div  id="example_day_wrapper" class="internal_wrapper"></div>
    </div>
</div>