<div  class="comment_wrapper">

    <table width="100%">
        <tr>
            <td>
            </td>

            <td width="33%"><b>Comment by: </b><span class="comment_by"></span></td>
            <td width="33%"><b>Date: </b> <span class="comment_date"></span></td>
            <td><b>Time: </b> <span class="comment_time"></span></td>

            <td><input  class="save_comment" type="button"  value="Save"></td>

            <td align="center"><a href="javascript:void(0)" class="delete_comment" title="delete"></a></td>
        </tr>
        <tr>

            <td>

                <div class="chat_image"></div>

            </td>


            <td colspan="5"><textarea  class="comment_textarea" cols="100" rows="3"></textarea></td>
        </tr>
    </table>

    <input style="margin-left:7px;" class="reply_comment" type="button"  value="Reply">
    <div class="clr"></div>
</div>