<div class="fitness_block_wrapper" style="height:46px;margin-top: 20px;">
    <div class="internal_wrapper">
        <table width="100%">
            <tr>
                <td width="220">
                    <b>SEARCH:</b> ASSESSMENT TYPE
                </td>
                <td>
                    <div id="session_focus_select" style="float:left;margin-left: 5px;"></div>
                </td>
                <td>
                    <input id="date_from" type="text" style="width:80px;" class="dark_input_style" placeholder="Date From">
                </td>
                <td>
                    <input id="date_to" type="text" style="width:80px;" class="dark_input_style" placeholder="Date To">
                </td>
                <td>
                    <a  style="cursor: pointer;float:right;margin-right:10px;" id="clear_all" onclick="javascript:void(0)">[CLEAR]</a>
                    <a  style="cursor: pointer;float:right;margin-right:10px;" id="search" onclick="javascript:void(0)">[SEARCH]</a>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <hr class="orange_line">
</div>
