<div class="internal_wrapper">
    <table width="100%">
        <thead>
            <th>Ingredient Name</th>
            <th>Calories</th>
            <th>Energy</th>
            <th>Protein</th>
            <th>Fat (total)</th>
            <th>Fat (sat)</th>
            <th>Carbs</th>
            <th>Sugar</th>
            <th>Sodium</th>
            <th>SG</th>
        </thead>
        <tbody>
        <% 
        if(items == null){
            %>
                    <tr>
                        <td>
                        <td>
                    </tr>
             </tbody>
            </table>
            <%
            return false;
        }



        if(typeof items !== 'undefined'){

            _.each(items, function(item){ 
             %>
                <tr >
                    <td width="40%">
                        <a data-id="<%= item.id %>" style="cursor: pointer;" class="ingredient_name" onclick="javascript:void(0)">
                            <%= item.ingredient_name %>
                        </a>
                    </td>
                    <td>
                        <%= item.calories || '0.00' %>
                    </td>
                    <td>
                        <%= item.energy || '0.00' %>
                    </td>
                    <td>
                        <%= item.protein || '0.00' %>
                    </td>
                    <td>
                        <%= item.fats || '0.00' %>
                    </td>
                    <td>
                        <%= item.saturated_fat || '0.00' %>
                    </td>
                    <td>
                        <%= item.carbs || '0.00' %>
                    </td>
                    <td>
                        <%= item.total_sugars || '0.00' %>
                    </td>
                    <td>
                        <%= item.sodium || '0.00' %>
                    </td>
                    <td>
                        <%= item.specific_gravity || '0.00' %>
                    </td>
                </tr>
                <tr class="description" data-description="<%= item.id %>" style="display:none">
                    <td colspan="10">
                        <%= item.description %>
                    </td>
                </tr>
            <% 
            })
        }
        
        if((typeof items !== 'undefined') && items.length == 0) {
        %>
        <tr>
            <td style="text-align:center;" colspan="10">
                <%= 'No Ingredients found.' %>
            </td>
        </tr>
        <%
        } %>
        </tbody>
    </table>
</div>