.icon-48-notificationss {
    background-image: url(../images/l_notificationss.png);
    padding-left:60px!important;
}

.icon-48-notifications {
    background-image: url(../images/l_notificationss.png);
    padding-left:60px!important;
}

.clients_href, .icon-48-clients {
    background-image: url("../images/header/clients.png");
    background-size: 45px auto;
    display: block;
} 

.goals_href, .icon-48-goals {
    background-image: url("../images/header/goals.png");
    background-size: 45px auto;
    display: block;
} 

.icon-48-sessiontypes {
      background-image: url(../images/l_sessiontypes.png);
      padding-left:60px!important;
}

.icon-48-sessiontype {
      background-image: url(../images/l_sessiontypes.png);
      padding-left:60px!important;
}


.icon-48-categories {
      background-image: url(../images/l_categories.png);
      padding-left:60px!important;
}

.icon-48-category {
      background-image: url(../images/l_categories.png);
      padding-left:60px!important;
}

.icon-48-sessionfocuses {
      background-image: url(../images/l_sessionfocuses.png);
      padding-left:60px!important;
}

.icon-48-sessionfocus {
      background-image: url(../images/l_sessionfocuses.png);
      padding-left:60px!important;
}

.icon-48-goalfocuses {
      background-image: url(../images/l_goalfocuses.png);
      padding-left:60px!important;
}

.icon-48-goalfocus {
      background-image: url(../images/l_goalfocuses.png);
      padding-left:60px!important;
}


.calendar_href, .icon-48-calendar {
    background-image: url("../images/header/calendar.png");
    background-size: 45px auto;
    display: block;
} 

.programs_href, .icon-48-programs {
    background-image: url("../images/header/programs.png");
    background-size: 45px auto;
    display: block;
} 

.nutrition_plans_href, .icon-48-nutrition_plans {
    background-image: url("../images/header/nutrition_plans.png");
    background-size: 45px auto;
    display: block;
} 

.nutrition_diary_href, .icon-48-nutrition_diary {
    background-image: url("../images/header/nutrition_diary.png");
    background-size: 45px auto;
    display: block;
} 

.assessments_href, .icon-48-assessments {
    background-image: url("../images/header/assessments.png");
    background-size: 45px auto;
    display: block;
} 

.settings_href , .icon-48-settings{
    background-image: url("../images/header/settings.png");
    background-size: 45px auto;
    display: block;
} 








#clients_href {
    background-repeat: no-repeat;
    height: 158px;
    width: 136px;
    background-image: url(../images/clients.png);
    display: block;
} 

#goals_href {
    background-repeat: no-repeat;
    height: 158px;
    width: 136px;
    background-image: url(../images/goals.png);
    display: block;
} 

#calendar_href {
    background-repeat: no-repeat;
    height: 158px;
    width: 136px;
    background-image: url(../images/calendar.png);
    display: block;
} 

#programs_href {
    background-repeat: no-repeat;
    height: 158px;
    width: 136px;
    background-image: url(../images/programs.png);
    display: block;
} 

#nutrition_plans_href {
    background-repeat: no-repeat;
    height: 158px;
    width: 136px;
    background-image: url(../images/nutrition_plans.png);
    display: block;
} 

#nutrition_diary_href {
    background-repeat: no-repeat;
    height: 158px;
    width: 136px;
    background-image: url(../images/nutrition_diary.png);
    display: block;
} 

#assessments_href {
    background-repeat: no-repeat;
    height: 158px;
    width: 136px;
    background-image: url(../images/assessments.png);
    display: block;
} 

#settings_href {
    background-repeat: no-repeat;
    height: 158px;
    width: 136px;
    background-image: url(../images/settings.png);
    display: block;
} 



#filter_from_start_date, #filter_to_start_date, #filter_from_deadline, #filter_to_deadline, #filter_created, #filter_modified{
    width: 55px;
}


.goal_status_wrapper, .event_status_wrapper {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    left: 50%;
    margin-left: -50px;
    padding: 2px 0;
    position: fixed;
    top: 33%;
    width: 100px;
    text-align: center;
    display:none;
    border: 1px #cccccc solid;
    padding-top:17px;

}

.goal_status_wrapper a{
    margin: 5px;
}

.goal_status_incomplete {
    background-color: #FFF6F6;
    border: 1px solid #FF7570;
    color: #E62C2F !important;

}

.goal_status_pending {
    background-color: #E3E4E4;
    border: 1px solid #818283;
    color: #818283 !important;
}

.goal_status_complete {
    background-color: #F3FFEE;
    border: 1px solid #1BC721;
    color: #006C09 !important;

}

.goal_status__button {
    display: block;
    font-size: 10px !important;
    height: 11px;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90px;
}


.hideimage{
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0
}

.send_email_button {
    background-image: url("../images/send_email.png");
    background-size: 20px auto;
    display: block;
    height: 20px;
    width: 20px;
}




.event_status_pending {
    background-color: #EBEBEB;
    border: 1px solid #818283;
    color: #818283 !important;
}

.event_status_attended {
    background-color: #DEFFE2;
    border: 1px solid #1BC721;
    color: #006C09 !important;
}


.event_status_cancelled {
    background-color: #FFCA9F;
    border: 1px solid #1BC721;
    color: #006C09 !important;
}


.event_status_latecancel {
    background-color: #F9E4F6;
    border: 1px solid #1BC721;
    color: #006C09 !important;
}



.event_status_noshow {
    background-color: #9999FF;
    border: 1px solid #1BC721;
    color: #006C09 !important;
}


.event_status__button {
    display: block;
    font-size: 10px !important;
    font-weight: bold;
    height: 11px;
    margin: 5px 0 0 5px;
    padding: 2px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 90px;
}



.event_status_wrapper a{
    margin: 5px;
}


.mv_dlg.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close, .ui-icon-closethick {
    height: 20px !important;
    position: absolute;
    right: 3px;
    top: 1px;
    width: 20px !important;
}
.ui-icon-closethick {
    background-image: url("../images/close.png") !important;
    background-position: left top !important;
    background-repeat:no-repeat;
    margin: 0 !important;
}

.mv_dlg_editevent{
    border:1px solid #cccccc;
    display: none;
    z-index: 1005;
    outline: 0px none;
    position: absolute;
    height: auto;
    width: 650px; 
    top: 101.8px; 
    left: 50%;  
    margin-left: -325px;
}


#add_appointment {
    background-image: url("../images/add_exercise.png");
    background-repeat: no-repeat;
    background-size: 24px auto;
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    margin-right: 5px;
    margin-top: 3px;
    width: 24px;
}


.graph-container {
	box-sizing: border-box;
	width: 600x;
	height: 250px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.graph-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}


