<div class="fitness_block_wrapper" style="height:45px;margin-top: 20px;">
    <div class="internal_wrapper">
        <table width="100%">
            <tr>
                <td id="sub_search_items">

                </td>
                <td width="250" style="vertical-align: top;">
                    <a  style="cursor: pointer;float:right;margin-right:10px;" id="clear_sub" onclick="javascript:void(0)">[CLEAR]</a>
                    <a  style="cursor: pointer;float:right;margin-right:10px;" id="select_all" onclick="javascript:void(0)">[SELECT ALL]</a>
                    <a  style="cursor: pointer;float:right;margin-right:10px;" id="search_sub" onclick="javascript:void(0)">[SEARCH]</a>
                </td>
            </tr>
        </table>
    </div>
</div>