<div style="width:100%;text-align: right;margin-top: 5px;">
    <select name="list_type" id="list_type">
        <option value="current">Current/Future Goals</option>
        <option value="previous">Previous Goals</option>
        <option value="current_primary_goal">Currrent Primary Goal</option>
        <option value="0">All Goals</option>
    </select> 
</div>
<div class="fitness_block_wrapper" style="margin-top: 20px; background-color:#fff;">
    <div class="internal_wrapper">

        <h3  style="float:left;">PRIMARY GOALS</h3>
        <h3 style="float:right;">MINI GOALS</h3>
        <div class="clr"></div>
        <hr class="orange_line">
        
        <div style="width:100%;" id="items_container"></div>
        
        <div class="clr"></div>
        <div class="internal_wrapper">
            <div style="width:100%;text-align: center;">
                <a style="cursor: pointer;" id="new_primary_goal" onclick="javascript:void(0)">[NEW PRIMARY GOAL]</a>
            </div>
        </div>
    </div>
    <div class="clr"></div>
    <br/>
    <div style="text-align:center;" id="pagination_container"></div>
</div>
