<div class="fitness_block_wrapper" style="padding: 5px;background-color: #fff;border-radius:10px;">
    
    <div style="float:left;">
        <div id="business_name_select" style="width:200px;float:left;"></div>
        <div id="trainer_select" style="width:200px; float:left;"></div>
        <div id="client_select" style="width:200px;float:left;"></div>
        <div id="session_focus_select" style="width:200px;float:left;"></div>
        
        <input id="date_from" size="10" type="text" placeholder="Date From" style="margin-left:10px;" >
        <input id="date_to" size="10" type="text" placeholder="Date To" >
        
        <input id="search" type="button" value="Search" style="margin-left:10px;" >
        <input id="clear_all" type="button" value="Clear">
    </div>

    <div class="clr"></div>
</div>
