<div style="margin: 5px;padding:5px;border: 1px solid #FFFFFF !important;">
    <table style="width:100%;">
        <tr>
            <td style="vertical-align: top;">
                <table style="width:100%;">
                    <tr>
                        <td>
                            RECIPE NAME
                        </td>
                        <td>
                            <input maxlength="100" style="width:250px;" type="text" class="recipe_name dark_input_style"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            # OF SERVES
                        </td>
                        <td>
                            <input maxlength="3" style="width:20px;" type="text" class="number_serves dark_input_style"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a style="cursor: pointer;margin-right:20px;" class="save_as_recipe_save" onclick="javascript:void(0)">[SAVE]</a>
                            <a style="cursor: pointer;" class="save_as_recipe_cancel" onclick="javascript:void(0)">[CANCEL]</a>
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                <div style="width:200px;" class="recipe_type_wrapper"></div>
            </td>

            <td>
                <div style="width:200px;" class="recipe_variations_wrapper"></div>
            </td>
        </tr>
    </table>
 
</div>
