<table width="100%">     
    <tr>
        <td width="120" id="exercise_type_filter_wrapper">

        </td>
        <td width="120" id="force_type_filter_wrapper">

        </td>
        <td width="120" id="difficulty_filter_wrapper">

        </td>
        <td width="120" id="mechanics_type_filter_wrapper">

        </td>
        <td width="120" id="body_part_filter_wrapper">

        </td>
        <td width="120" id="target_mucle_filter_wrapper">

        </td>
        <td width="120" id="equipment_filter_wrapper">

        </td>
        <td></td>
    </tr>
</table>