<div style="width:100%">
    <div style="width: <%= block_width %>; float: left;margin-left:2px;"  id="exercise_type_filter_wrapper"></div>
    
    <div style="width: <%= block_width %>;float: left;margin-left: 2px;" id="force_type_filter_wrapper"></div>

    <div style="width: <%= block_width %>;float: left;margin-left: 2px;" id="mechanics_type_filter_wrapper"></div>

    <div style="width: <%= block_width %>;float: left;margin-left: 2px;" id="body_part_filter_wrapper"></div>

    <div style="width: <%= block_width %>;float: left;margin-left: 2px;" id="target_mucles_filter_wrapper"></div>

    <div style="width: <%= block_width %>;float: left;margin-left: 2px;" id="equipment_type_filter_wrapper"></div>
    
    <div style="width: <%= block_width %>;float: left;margin-left: 2px;" id="difficulty_filter_wrapper"></div>
</div>