<div class="fitness_block_wrapper " style="height:30px;">
    <div class="internal_wrapper ">
        <div style="width:100%;">
          <% 
            var submitted = false;
            if (submit_date && (submit_date != '0000-00-00 00:00:00')) {
            submitted = true;
            }
          %>
            <% if(app.options.statuses.INPROGRESS_DIARY_STATUS.id == status) { %>
            <a data-id="<%= id %>" style="cursor: pointer;float:left;" id="submit" onclick="javascript:void(0)">[SUBMIT TO TRAINER]</a>
            <% } %>

            <a data-id="<%= id %>" style="cursor: pointer;margin-right:10px; float:right;" id="close" onclick="javascript:void(0)">[CLOSE]</a>
            <a data-id="<%= id %>" style="cursor: pointer;margin-right:10px; float:right;" id="trash" onclick="javascript:void(0)">[TRASH]</a>
        </div>
        <div class="clr"></div>
    </div>
    <hr class="orange_line">
</div>