<div class="width-100 fltlft">
    <table width="100%">
        <tr>
            <td width="50%" style="vertical-align: top;">
                <fieldset class="adminform">
                    <legend>APPOINTMENT & PROGRAM DETAILS</legend>
                    <div id="details_wrapper"></div>
                </fieldset>

            </td>
            <td style="vertical-align: top;">
                <fieldset class="adminform">
                    <legend>TRAINER</legend>
                    <div id="trainer_data_wrapper"></div>
                </fieldset>
                
                <div id="clients_data_wrapper"></div>
            </td>
        </tr>
    </table>
    
    <div id="textbox_wrapper"></div>
    
    
    
    <fieldset class="adminform">
        <div id="exercises_list"></div>
    </fieldset>
    
    <fieldset class="adminform">
        <div id="comments_block"></div>
    </fieldset>
    
</div>