<% if(current_page == 'list') { %>
        
        <div style="display: inline-block; float: right;"  class="right">
            <div id="toolbar" class="toolbar-list right">
                <a title="Add Video Item" id="add_item" class="toolbar" onclick="javascript:void(0)">
                    <span  class="icon-32-new"> </span>
                </a>
                <a title="Trash Selected Items" id="trash_selected" class="toolbar" onclick="javascript:void(0)">
                    <span  class="icon-32-trash"> </span>
                </a>
            </div>
        </div>
        
        
        <% } %>
        
        <% if(current_page == 'trash_list') { %>
        
        <div style="display: inline-block;float: right;" class="right">
            <div id="toolbar" class="toolbar-list right">
                <a title="Delete Selected Items" id="delete_selected" class="toolbar" onclick="javascript:void(0)">
                    <span  class="icon-32-delete"> </span>
                </a>
            </div>
        </div>
        
        <% } %>
</div>

<div class="clr"></div>

<div style="width:100%">
    <label>Date From:</label>
    <input id="date_from" size="10" type="text" >
    
    
    <label>Date To:</label>
    <input id="date_to" size="10" type="text" >
    
    <label>Client Name:</label>
    <input id="client_name" size="20" type="text" >
    
    <label>Trainer Name:</label>
    <input id="trainer_name" size="20" type="text" >
    
    <label>Author Name:</label>
    <input id="created_by_name" size="20" type="text" >
    
    <input id="search" type="button" value="Search">
    <input id="clear_all" type="button" value="Clear All">
    
    <div style="width:200px;display: inline-block;" id="business_profile_filter"></div>
    
    <select id="workout_filter" class="inputbox" size="1" name="workout">
        <%
        var selected_published = '';
        var selected_unpublished = 'selected="selected"';
        if(current_page == 'list') {
            selected_published = 'selected="selected"';
            selected_unpublished = '';
        }

        %>
        <option <%= selected_published %> value="1">Published Workout</option>
        <option <%= selected_unpublished %>   value="0">Unpublished Workout</option>
        <option <%= selected_unpublished %>   value="2">All Workouts</option>
    </select>
    
    <select id="state_filter" class="inputbox" size="1" name="state">
        <%
        var selected_published = '';
        var selected_unpublished = 'selected="selected"';
        if(current_page == 'list') {
            selected_published = 'selected="selected"';
            selected_unpublished = '';
        }

        %>
        <option <%= selected_published %> value="1">Published Event</option>
        <option <%= selected_unpublished %>   value="0">Unpublished Event</option>
    </select>
    
    
    