<div class="fitness_block_wrapper" style="padding: 5px;background-color: #fff;border-radius:10px;">
    
    <table width="100%">
        <tr>
            <td id="sub_search_items">
                
            </td>
            <td width="200">
                <input id="search_sub" type="button" value="Search" style="margin-left:10px;" >
                <input id="select_all" type="button" value="Select All" >
                <input id="clear_sub" type="button" value="Clear">
            </td>
        </tr>
    </table>

</div>
