<div class="fitness_block_wrapper" style="">
    <div class="internal_wrapper">
        <div  style="width:350px; float: left;">
        <% if(head_title) { %>
            <h3><%= head_title %></h3>
        <% } %>
        </div>
        <div  style="width:500px; float:right; text-align: right;margin-top: 4px;margin-right: 20px;">
            <a id="whole" href="javascript:void(0)">[All Goals]</a>
            <a  id="by_year_previous" href="javascript:void(0)">[Previous Year]</a>
            <a  id="by_year" href="javascript:void(0)">[Current Year]</a>
            <a  id="by_year_next" href="javascript:void(0)">[Next Year]</a>
            <a  id="by_month" href="javascript:void(0)">[Current Month]</a>
        </div>
        <div class="clr"></div>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <table width="100%">
                <tr>
                     <td width="140" id="choices" style="font-size: 11px;display:none;"></td>
                    <td>
                        <div class="graph-container" style="width:740px;">

                            <div id="placeholder" class="graph-placeholder"></div>

                        </div>
                    </td>
                    <td  style="vertical-align: top;">
                        <fieldset style="width:130px !important;display:inline-block;font-size: 12px;">
                            <legend style="font-size: 12px;">Training Period Keys</legend>
                            <div id="training_period_container"></div>
                        </fieldset>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <% if(show_client_select) { %>
        <table width="100%">
            <tr>
                <td width="200" id="graph_business_name_select"></td>
                <td width="200" id="graph_trainer_select"></td>
                <td width="200" id="graph_client_select"></td>
                <td></td>
            </tr>
        </table>
        <% } %>
    </div>
</div>