<table width="100%">
    <tr>
        <td width="150">
            Nutrition Focus:
        </td>
        <td>
            <div id="nutrition_focus_wrapper" style="width:200px;"></div>
        </td>
    </tr>
    
    <tr>
        <td>
            Details:
        </td>
        <td>
            <textarea id="trainer_comments" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="trainer_comments"><%= decodeURIComponent(item.trainer_comments) %></textarea>
        </td>
    </tr>
</table>