<table width="100%" style="margin-top: 20px">
    <tr>
        <td style="vertical-align: top;padding-left: 0;">
            <div class="recipes_list" style="width:100%;"></div>
            <br>
            <div style="text-align:center;width:100%;" id="pagination_container"></div>
        </td>
        <td style="vertical-align:top; padding-right: 0; width:200px;">
            <div id="recipe_database_filter_wrapper"> </div>
            <div class="clr"></div>
            <br>
            <div id="recipe_variations_filter_wrapper"> </div>
            <br>
            <div id="recipes_latest_wrapper"> </div>
        </td>
    </tr>
</table>
