<ul>
    <li><a onclick="javascript:void(0)" id="my_favourites_link" class="plan_menu_link"  href="javascript:void(0)">MY FAVOURITES</a></li>
    <li><a onclick="javascript:void(0)" id="my_exercises_link" class="plan_menu_link"  href="javascript:void(0)">MY EXERCISES</a></li>
    <li><a onclick="javascript:void(0)" id="exercise_database_link" class="plan_menu_link"  href="javascript:void(0)">EXERCISE DATABASE</a></li>
    
    <% if(app.options.event_id) { %>
        <li><a onclick="javascript:void(0)" id="back_program_link" class="plan_menu_link"  href="javascript:void(0)">BACK TO PROGRAM</a></li>
    <% } %>
</ul>