
/* form css */
.front-end-edit ul {
    padding: 0 !important;
}
.front-end-edit li {
    list-style: none;
    margin-bottom: 6px !important;
}
.front-end-edit label {
    margin-right: 10px;
    display: block;
    float: left;
    width: 200px !important;
}
.front-end-edit .radio label {
    float: none;
}
.front-end-edit .readonly {
    border: none !important;
    color: #666;
}    
.front-end-edit #editor-xtd-buttons {
    height: 50px;
    width: 600px;
    float: left;
}
.front-end-edit .toggle-editor {
    height: 50px;
    width: 120px;
    float: right;
}

#jform_rules-lbl{
    display:none;
}

#access-rules a:hover{
    background:#f5f5f5 url('../images/slider_minus.png') right  top no-repeat;
    color: #444;
}

fieldset.radio label{
    width: 50px !important;
}
/* end form css */
.jgrid span.unpublish {
    background-image: url("../images/publish_x.png");
}

.jgrid span.publish {
    background-image: url("../images/tick.png");
}
.jgrid span.state {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.jgrid:hover, .jgrid:active, .jgrid:focus {
    background: none !important;
}

.clr {
    clear: both;
    height: 0;
    overflow: hidden;
}

.fitness_wrapper .internal_wrapper hr {
    margin: 5px 0;
}

.preview{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url("../images/preview.png");
}

a:hover, a:active, a:focus {
    background: none ;
}




.add_item {
    background-image: url("../images/add_exercise.png");
    background-repeat: no-repeat;
    background-size: 24px auto;
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    margin-right: 5px;
    margin-top: 3px;
    width: 24px;
}


.status_inprogress {
    background-color: #F9DEA4 !important;
    border: 2px solid #C79700;
}

.status_pass {
    background-color: #DBFFDB !important;
    border: 2px solid #429625;
}

.status_fail {
    background-color: #E4B4B4 !important;
    border: 2px solid #A71313;
}

.status_distinction {
    background-color: #DBFFDB !important;
    border: 2px solid #429625;
}

.status_submitted {
    background-color: #D2D2D2 !important;
    border: 2px solid #4C4C4C;
}

.status_button, .status_button_dialog, .status_button_mini, .status_button_dialog_mini {
    display: block;
    font-size: 10px !important;
    height: 11px;
    margin: 0;
    padding: 2px 0 7px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    color:#000000 !important;
    font-weight: bold;
    line-height: 19px;
    text-decoration: none !important;
}



.goal_status_wrapper, .event_status_wrapper {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    left: 50%;
    margin-left: -50px;
    padding: 2px 0;
    position: fixed;
    top: 33%;
    width: 100px;
    text-align: center;
    display:none;
    border: 1px #cccccc solid;
    padding-top:17px;

}

.goal_status_wrapper a{
    margin: 5px;
}

.goal_status_pending, .recipe_status_pending  {
    background-color: #E3E4E4 !important;
    border: 2px solid #A4A4A4;
}


.goal_status_complete, .recipe_status_approved {
    background-color: #B0FFB0 !important;
    border: 2px solid #04BF04;
}

.goal_status_incomplete, .recipe_status_notapproved {
    background-color: #FF9292 !important;
    border: 2px solid #C60000;

}

.goal_status_evaluating {
    background-color: #FFA992 !important;
    border: 2px solid #AA4424;
}

.goal_status_inprogress {
    background-color: #FFFDAE !important;
    border: 2px solid #A5A908;
}

.goal_status_assessing {
    background-color: #ECB8FF !important;
    border: 2px solid #4B0082;
}


.status_pass_stamp {
    background-image: url("../images/status_pass.png");
}

.status_fail_stamp {
    background-image: url("../images/status_fail.png");
}

.status_distinction_stamp {
    background-image: url("../images/status_distinction.png");
}

.status_button_stamp {
    background-repeat: no-repeat;
    background-size: 74px 29px;
    height: 30px;
    width: 80px;
    margin-left: 10px;
}


.fitness_wrapper {
    background: none;
    background-color: #0E0704;
    opacity: 0.85;
    color: #ffffff;
    padding: 5px;
    font-size: 14px;
}


.fitness_content_wrapper table th {
    background: none !important;
}

.fitness_block_wrapper {
    background: none;
    color: #ffffff;
    padding: 0px;
    font-size: 14px;
    border: 1px solid #cccccc;
}

.fitness_wrapper h2, .fitness_block_wrapper h2 {
    color:#ffffff !important;
}

.fitness_wrapper h5 {
    line-height: 18px;
    margin: 5px;
    padding: 2px 0;
}

.fitness_wrapper  select {
    margin-top: 3px;
}

.fitness_content_wrapper{
    border: 1px solid #cccccc;
    padding: 10px;
}

.orange_line {
    color: #BC4A26;
    background-color: #BC4A26;
    border: 0;
}

.fitness_wrapper .pagination {

    border: none !important;
}

.fitness_wrapper table td {
    padding:2px;
}


.fitness_wrapper table, .fitness_wrapper table td, .fitness_wrapper table tr {
    border:none;
}

.fitness_wrapper table thead{
    background-color: #313031;
    height: 25px;
    text-align: left;
}

td.center, th.center, .center {
    float: none;
    text-align: center;
}


.fitness_wrapper h3 {
    margin: 0px !important;
    color: #BC4A26 !important;
    padding: 5px;
}

.internal_wrapper {
    padding: 5px;
}

.grey_title {
    color:#cccccc;
}

#jform_entry_date {
    background-color: #000000;
    color: #FFFFFF;
    width: 90px;
}

.calendar {
    margin-left: 2px;
    position: absolute;
    cursor:pointer !important;
}

/* pie */
#placeholder_targets,  #placeholder_scope{
    width: 100%;
    height: 100%;
}

.pie-container {
    margin: 0;
    padding: 0;
    width: 220px;
    height: 220px;
    position: relative;
}

.placeholder_pie {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

/* end pie*/

#jform_activity_level {
    margin: 0;
    padding: 2px;
    width: 172px;
}
#jform_activity_level0{
    display: inline-block;
}

#jform_activity_level1{
    display: inline-block;
}


#jform_activity_level2{
    display: inline-block;
}

.fitness_wrapper fieldset.radio label {
    display: inline-block !important;
    width: 200px !important;
    margin-bottom: 5px;
    margin-left: 5px;
}

.fitness_wrapper fieldset {
    width: 225px !important;
}


#jform_activity_level-lbl {
    display: inline-block;
    padding-bottom: 35px;
}


.fitness_wrapper .meal_name_input {
    width:300px;
    font-size: 12px;
    background-color: #fff;
    color:#000;
    padding: 2px;
}

.fitness_wrapper .number_input , .fitness_wrapper .meal_quantity_input, .fitness_wrapper .totals_row input, .fitness_wrapper .water, .fitness_wrapper .previous_water{
    width: 43px;
    font-size: 10px;
    background-color: #fff;
    color:#000;
    padding: 2px;
}

.fitness_wrapper #meals_wrapper th, .fitness_block_wrapper .internal_wrapper th {
    font-size: 10px;
    background: none;
    padding: 0;
}


.fitness_wrapper .ingredient_title{
    width: 325px;
}

.fitness_wrapper .totals_pagging {
    width:388px;
}
.fitness_wrapper .totals_right {
    width: 0px;
}

.fitness_wrapper .comment_wrapper, .fitness_wrapper .comment_textarea {
    width: 100% !important;
    padding: 2px !important;
}


.delete_meal, .fitness_wrapper .delete_comment , .fitness_wrapper .delete_plan_meal, .fitness_wrapper .delete_shopping_item{
    background-image: url("../images/cross.png");
    background-size: 15px auto;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

.fitness_wrapper .meal_date{
    font-size: 12px;
    width: 65px;
}

.fitness_block_wrapper .internal_wrapper input[type="text"] {
    background-color: #fff;
    padding: 2px; 
    color: #000;
    font-size: 10px;
}
.meal_date, .meal_time, .save_plan_meal, .water, .previous_water {
    float:none;
    margin: 5px;
}
.error_wrapper, .error {
    color:red;
}


.fitness_block_wrapper .internal_wrapper textarea, .comment_wrapper textarea {
    color: #fff;
    height: 50px;
}

.fitness_wrapper .meal_time {
    width: 35px;
    margin-left: 5px;
}

.fitness_wrapper .meal_center_desc{
    width:480px;
}


.fitness_wrapper #select_meal_form, .fitness_wrapper .select_meal_form{
    background-color: #FFFFFF;
    height: auto;
    margin-top: 21px;
    position: absolute;
    min-width: 392px;
    border: 1px solid #cccccc;
    text-align: center;
    z-index: 999;
}

.fitness_wrapper #ingredients_results, .fitness_wrapper .ingredients_results{
    width: 100%;
    margin: 0;
    border: none;
}

.fitness_wrapper #meal_search_cancel {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.fitness_wrapper #meal_search_next{
    position: absolute;
    bottom: 5px;
    right: 5px; 
}

.fitness_wrapper #ingred_select_error_message{
    color:red;
    margin-top: 2px;
    text-align: center;
}

.fitness_wrapper #quantity_wrapper {
    text-align: center;
    margin: 5px 0;
}

.fitness_wrapper .grams_mil{
    padding-left: 2px;
}


.fitness_wrapper #totals_row , .fitness_wrapper .totals_row{
    text-align: center;
    background-color:#333333;
}

.fitness_wrapper .totals_row input {
    text-align: center;
    float: none !important;
}

.fitness_wrapper .no_background{
    background-color: #ffffff;
    background: none;
}


.fitness_wrapper .nutrition_targets_table input {
    width: 70px;
}

#recipes_list_wrapper {
    background-color: #FFFFFF;
    border: 7px ridge #CCCCCC;
    height: 500px;
    margin-left: 10px;
    position: fixed;
    top: 100px;
    width: 98%;
    z-index: 999;
}

#close_recipe_list, #close_recipe_list:hover, #close_recipe_list:active, #close_recipe_list:active, #close_recipe_list:focus {
    background-image: url("../images/cross.png") !important;
    background-size: 15px auto !important;
    display: block !important;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 15px;
}



.fitness_wrapper .select_meal_form span {
    color: #000000;
}
.fitness_wrapper .yellow_style {
    background-color:yellow!important;
}

.fitness_wrapper .green_style {
    background-color:#1BC721 !important;
}

.fitness_wrapper .orange_style {
    background-color:#FF7570 !important;
}

.fitness_wrapper .red_style {
    background-color:#E62C2F !important;
}


.fitness_wrapper #recipes_list_wrapper {
    background-color: #FFFFFF;
    border: 7px ridge #CCCCCC;
    height: 500px;
    margin-left: 10px;
    position: fixed;
    top: 100px;
    width: 98%;
    z-index: 999;
}


#final_score{
    color: #008000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

#status_button_place {
    text-align: center;
}

#total_score{
    margin-top: 50px;
}

.score_pie_container{
    margin-left: 40px;
}





.graph-container {
    background: none repeat scroll 0 0 transparent;
    height: 250px;
    margin: 0;
    padding: 0;

}

.graph-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.choosen_link {
    color: #fff !important;
}




#plan_menu, #recipe_mainmenu {
    width: 100%;
}

#plan_menu ul, #recipe_mainmenu ul {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#plan_menu ul li, #recipe_mainmenu ul li {
    border: 1px solid #CCCCCC;
    float: left;
    line-height: 1.7em;
    list-style: none outside none;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
}

#plan_menu ul li a , #recipe_mainmenu ul li a{
    text-decoration: none !important;
    color: #BC4A26;
    font-size: 16px;
}

#plan_menu ul li a:hover, #plan_menu ul li a:active, .active_link,
#recipe_mainmenu ul li a:hover, #recipe_mainmenu ul li a:active, .active_link {
    color:#fff !important;
    border-bottom: 2px solid #BC4A26;
    font-weight:bold;
}


.recipe_database_image {
    width: 200px;
    height: 180px;
    border: 3px solid #fff;
    background-repeat:no-repeat;
    background-size: 200px 180px;

}


