<div class="page_container_width">
    <div id="form_menu"></div>
    <div class="clr"></div>
    <div class="fitness_block_wrapper" style="min-height: 200px;">
        <h3>NUTRITION INFORMATION</h3>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <textarea id="information" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="information"><%= decodeURIComponent(item.information) %></textarea>
        </div>
    </div>
</div>