<div class="page_container_width">
    <div id="form_menu"></div>
    <div class="clr"></div>
    <div class="fitness_block_wrapper" style="min-height: 100px;">
        <h3>PROTEINS</h3>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <textarea id="allowed_proteins" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="allowed_proteins"><%= decodeURIComponent(item.allowed_proteins) %></textarea>
        </div>
    </div>

    <br/>

    <div class="fitness_block_wrapper" style="min-height: 100px;">
        <h3>FATS</h3>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <textarea id="allowed_fats" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="allowed_fats"><%= decodeURIComponent(item.allowed_fats) %></textarea>
        </div>
    </div>

    <br/>

    <div class="fitness_block_wrapper" style="min-height: 100px;">
        <h3>CARBOHYDRATES</h3>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <textarea id="allowed_carbs" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="allowed_carbs"><%= decodeURIComponent(item.allowed_carbs) %></textarea>
        </div>
    </div>

    <br/>

    <div class="fitness_block_wrapper" style="min-height: 100px;">
        <h3>LIQUIDS</h3>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <textarea id="allowed_liquids" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="allowed_liquids"><%= decodeURIComponent(item.allowed_liquids) %></textarea>
        </div>
    </div>

    <br/>

    <div class="fitness_block_wrapper" style="min-height: 100px;">
        <h3>OTHER RECOMMENDATIONS</h3>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <textarea id="other_recommendations" style="min-height:150px;width:98%;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);padding:5px;" name="other_recommendations"><%= decodeURIComponent(item.other_recommendations) %></textarea>
        </div>
    </div>

    <div class="fitness_block_wrapper">
        <div id="macronutrients_comments_wrapper" style="width:100%">fuck</div> 
    </div>
</div>