<div class="page_container_width">
    
    <fieldset  class="adminform">
        <div id="form_menu"></div>
        <table width="100%" style="height: 360px;">
            <tr>
                <td width="30%" style="vertical-align:top;height: 100%;">
                    <fieldset style=" height: 100%; padding-bottom: 0;margin-bottom: 0;" class="adminform">
                        <legend>CLIENT & TRAINER(S)</legend>
                        <div id="client_trainers_container"></div>
                    </fieldset>
                </td>
                <td style="vertical-align:top;height: 100%;" >
                    <fieldset style=" height: 100%;padding-bottom: 0;margin-bottom: 0;"   class="adminform">
                        <legend>CLIENT GOALS, TRAINING & NUTRITION PERIODS</legend>
                        <div id="goals_periods_wrapper"></div>
                    </fieldset>
                </td>
            </tr>
        </table>

        <div class="clr"></div>

        <fieldset style="margin: 30px 12px 12px;;"  class="adminform">
            <legend>NUTRITION FOCUS</legend>
            <div id="nutrition_focus_container"></div>
        </fieldset>
    </fieldset>
</div>
