<div class="fitness_block_wrapper" style="padding: 5px;background-color: #fff;border-radius:10px;">

    <div style="float:left; width:100%">

        <input id="active_start_from" size="13" type="text" placeholder="Start Date (From)" >
        <input id="active_start_to" size="13" type="text" placeholder="Start Date (To)" >
        <input id="active_finish_from" size="13" type="text" placeholder="End Date (From)" >
        <input id="active_finish_to" size="13" type="text" placeholder="End Date (To)" >
        
        <input id="client_name" size="13" type="text" placeholder="Client Name" >

        <input id="search" type="button" value="Search" style="margin-left:10px;" >
        <input id="clear_all" type="button" value="Clear" >
        
        <div id="active_plan_wrapper" style="width:100px;display:inline-block;"></div>
        <div id="force_active_wrapper" style="width:100px;display:inline-block;"></div>
        <div id="state_wrapper" style="width:100px;display:inline-block;"></div>
        
        <div id="toolbar" class="toolbar-list right" style="float: right;">
            <a title="Publish " id="publish_selected" class="toolbar" onclick="javascript:void(0)">
                <span  class="icon-32-publish"> </span>
            </a>

            <a title="Unpublish " id="unpublish_selected" class="toolbar" onclick="javascript:void(0)">
                <span  class="icon-32-unpublish"> </span>
            </a>
        </div>
    </div>

    <div class="clr"></div>
</div>
