<div  class="recipe_database_item_wrapper">
    <table width="100%">
        <tr>
            <td width="50%">
                <table  width="100%">
                    <tr>
                        <td width="40%">RECIPE NAME</td>
                        <td width="60%">
                              <%= recipe_name %>
                        </td>
                    </tr>
                    <tr>
                        <td>AUTHOR</td>
                        <td>
                             <%= author %>
                        </td>
                    </tr>
                    <tr>
                        <td>SERVES</td>
                        <td>
                             <%= number_serves %>
                        </td>
                    </tr>
                    <tr>
                        <td>STATUS</td>
                        <td>
                            <%= $.fitness_helper.setRecipeStatus(status) %>
                        </td>
                    </tr>
                    <tr>
                        <td>APPROVED BY</td>
                        <td>
                             <%= trainer || '-' %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br/>
                            <a style="float:left;" class="view_add_recipe" href="javascript:void(0)" title="">[VIEW RECIPE]</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%">
                <table width="100%">
                    <tr>
                        <td>
                            CALORIES
                        </td>
                        <td>
                            <%= calories || '0.00' %>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            ENERGY
                        </td>
                        <td>
                            <%= energy || '0.00' %>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            PROTEIN
                        </td>
                        <td>
                            <%= protein || '0.00' %>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            FAT
                        </td>
                        <td>
                            <%= fats || '0.00' %>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            CARB
                        </td>
                        <td>
                            <%= carbs || '0.00' %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SUGAR
                        </td>
                        <td>
                            <%= total_sugars || '0.00' %>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <%
                if(!image || image == 'images/Recipe_Images/'){
                    image = $.fitness_helper.get('default_recipe_image');
                }
                image = $.fitness_helper.get('base_url') + image;
                %>
                <div class="recipe_database_image" style="display: inline-block;background-image: url('<%= image %>')"></div>
            </td>
        </tr>
    </table>
    <div class="clr"></div>
    <div class="internal_wrapper">
        <div class="recipe_details"> </div>
        <div class="clr"></div>
        <div style="display:none;" class="number_serves_wrapper">
            <label style="font-weight:bold;">Number of Serves to Add to Nutrition Guide</label>
            <input maxlength="3" style="width:30px"  class="number_serves" type="text" >
            <input class="enter_number_serves"  type="button" value="ENTER" >
        </div>
    </div>
    <div class="clr"></div>
</div>