<div class="fitness_block_wrapper recipe_filter" style="">
    <h5>FILTER CATEGORIES</h5>
    <div class="clr"></div>
    <hr class="orange_line">
    <div class="internal_wrapper">
        <select class="dark_input_style" multiple size="<%= items.length + 1 %>" id="categories_filter" name="categories_filter[]"  style="width:100%;">
            <option value="0">ALL CATEGORIES</option>
            <% if (typeof items !== "undefined") { %>
                <% _.each(items, function(item, key){ %>
                      <option value="<%= item.id %>"><%= item.name %></option>
                <% }) %>
            <% } %>
        </select>
    </div>
    <div class="clr"></div>
</div>