<td width="">
    <%= moment(new Date(Date.parse(item.start_date))).format("ddd, D MMM  YY")  %>
</td>
<td>
    <%= item.name %>
</td>
<td>
    <%= item.created_by_name %>
</td>
<td class="status_container"></td>
<td>
    <% if(item.submit_date != '0000-00-00') { %>
        <%= moment(new Date(Date.parse(item.submit_date))).format("ddd, D MMM  YY") %>
    <% } else { %>
            <%= '-' %>
    <% } %>
</td>
<td>
    <%= item.assessed_by_name || '-' %>
</td>
<td>
    <%
    if(item.status != '5') { 
    %>
    <a class="view " onclick="javascript:void(0)" style="cursor: pointer;">
        <span class="preview" data-id="<%= item.id %>"></span>
    </a>    
    <% } %>
</td>

<td>
    <% if(item.status != '1' && item.status != '') { %>
    <a title="Copy Menu Plan" style="cursor: pointer;display: inline-block" class="copy_menu_plan" onclick="javascript:void(0)"><span  data-id="<%= item.id %>"  class="copy_icon"></span></a>
    <% } %>
</td>
