<div class="fitness_block_wrapper" style="height:30px;margin-top: 20px;">
    <div class="internal_wrapper">
        <div style="width:100%;">
            <a data-id="<%= id %>" style="cursor: pointer;float:left;margin-right:10px;" class="delete_recipe" onclick="javascript:void(0)">[DELETE RECIPE]</a>
            <a data-id="<%= id %>" style="cursor: pointer;float:left;" class="restore_recipe" onclick="javascript:void(0)">[RESTORE RECIPE]</a>

            <a data-id="<%= id %>" style="cursor: pointer;float:right;" class="close_trash_form" onclick="javascript:void(0)">[CLOSE]</a>
        </div>
        <div class="clr"></div>
    </div>
    <hr class="orange_line">
</div>