<!--  Status  -->
<script type="text/template" id="dialog_status_template">
    <div id="<%= wrapper %>">
        <div class="<%=  hide_image_class %>" title="close" ></div>
        <% _.each(statuses, function(item, key){
            if(status_id != key) {
            %>
                <a class="<%= status_button_dialog %> <%= item.class %>" data-item_id="<%= item_id %>" data-status_id="<%= key %>" href="javascript:void(0)"> <%= item.label %></a>       
            <% 
            }
        })  
        var display = 'display:none;';
        if(show_send_email) {
            display = 'display:inline-block;';
        }
        %>
            <input style="<%= display %>" type="checkbox" checked id="send_diary_email" name="send_diary_email" value="1">
            
        <% if(show_send_email) { %>
            <span style="font-size:12px;">Send email</span>
        <% }  %>
        
    </div>
      
</script>

<script type="text/template" id="status_button_template">
    <% _.each(statuses, function(item, key){
        if(status_id == key) {
        %>
            <a class="<%= status_button %> <%= item.class %>" data-item_id="<%= item_id %>" data-status_id="<%= key %>" href="javascript:void(0)"> <%= item.label %></a>       
        <% 
        }
    })  
    %>
</script>


<!-- Goals frontend  -->
<script type="text/template" id="default_goal_list_template">
    <div style="width:100%;text-align: right;">
        <select name="list_type" id="list_type">
            <option value="current">Current/Future Goals</option>
            <option value="previous">Previous Goals</option>
            <option value="current_primary_goal">Currrent Primary Goal</option>
            <option value="0">All Goals</option>
        </select> 
    </div>
    
    <div class="fitness_block_wrapper" style="min-height:200px;">
        <h3  style="float:left;">MY PRIMARY GOALS</h3>
        <h3 style="float:right;">MY MINI GOALS</h3>
        <div class="clr"></div>
        <hr class="orange_line">
        <div style="width:100%;" id="goals_wrapper">
        
        </div>
        <div class="internal_wrapper">
            <div style="width:100%;text-align: center;">
                <a style="cursor: pointer;" id="new_goal" onclick="javascript:void(0)">[New Goal]</a>
            </div>
        </div>
        <br/>
        <div style="width:100%;text-align: center;">
            Display # 
            <select name="items_number" id="items_number">
                <option value="1">1</option>
                <option value="5">5</option>
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="all">All</option>
            </select> 
        </div>
    </div>
</script>

<script type="text/template" id="add_goal_template">
    <%
        var goal_type = model.get('goal_type');
    %>
    <div class="fitness_block_wrapper" style="min-height:200px;">
        <h3><%= title %></h3>
        <div class="clr"></div>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <form action="" id="add_goal_form">
                <table>
                    <tr>
                        <td>
                            Start Date
                        </td>
                        <td>
                            <input style="width:60px;" readonly type="text" name="start_date" id="start_date" size="6" class="required">
                        </td>
                        <td>
                            (when will you begin training for this goal?)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Achieve By 
                        </td>
                        <td>
                            <input style="width:60px;" readonly type="text" name="deadline" id="deadline" size="6" class="required">
                        </td>
                        <td>
                            <% if(goal_type == 'primary_goal') { %>
                                (when do you wish to achieve your results?)
                            <% } else { %>
                                (when do you wish to achieve this mini goal?) 
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <% if(goal_type == 'primary_goal') { %>
                                Goal Details (describe in as much detail as possible the results you envision and what it is you wish to achieve...)
                            <% } else { %>
                                Goal Details (describe your mini goal in detail and how it will help achieve your primary goal) 
                            <% } %>
                            
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                           <textarea name="details" id="details" rows="20" cols="90" class="required"></textarea> 
                        </td>
                    </tr>
                </table>
                <br/>
                <button type="submit" id="add_goal">Submit</button>
                <button type="submit" id="cancel_add_goal">Cancel</button>
            </form>
        </div>
    </div>
</script>


<script type="text/template" id="primary_goal_template">
    <%
    var pages_number = model.getLocalStorageItem('pages_number');
    var counter = 0;
    _.each(model.attributes.goals.primary_goals, function(item, key){
    
    counter++;
    
    if((counter > pages_number) && (pages_number != 'all')) return;
    %>
        <table width="100%">
            <tr>
                <td width="50%">
                    <table width="100%">
                        <tr>
                            <td style="width:120px;">
                                Primary Goal 
                            </td>
                            <td class="grey_title">
                                <%= model.setDefaultText(item.status, item.primary_goal_name) %>
                                <% if(model.statusReviewed(item.status) && !model.statusAssessing(item.status)) { %>
                                    <div style="width:50px;float: right;">
                                        <a data-id="<%= item.id %>" style="cursor: pointer;" class="open_goal" onclick="javascript:void(0)">[OPEN]</a>
                                    </div>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Start Date 
                            </td>
                            <td class="grey_title">
                                <%
                                var d1 = new Date(Date.parse(item.start_date));            
                                var start_date = moment(d1).format("dddd, D MMMM  YYYY");      
                                %>
                                <%= 
                                    model.setDefaultText(item.status, start_date) 
                                 %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Achieve By 
                            </td>
                            <td class="grey_title">
                                <%
                                    var d2 = new Date(Date.parse(item.deadline));            
                                    var deadline = moment(d2).format("dddd, D MMMM  YYYY");      
                                %>
                                <%= model.setDefaultText(item.status, deadline) %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Status 
                            </td>
                            <td>
                                <%= model.setStatus(item.status) %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Goal Details 
                            </td>
                            <td class="grey_title">
                                <%= item.details %>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="minigoals_wrapper" style="width:100%;">
                    <% 
                    var primary_goal_id = item.id;
                    _.each(model.attributes.goals.mini_goals, function(item, key){ %>
                         <% if(primary_goal_id == item.primary_goal_id) { %>
                                <table width="100%">
                                    <tr>
                                        <td style="width:120px;">
                                            Mini Goal 
                                        </td>
                                        <td class="grey_title">
                                            <%= model.setDefaultText(item.status, item.mini_goal_name) %>
                                                <% if(model.statusReviewed(item.status) && !model.statusAssessing(item.status)) { %>
                                                <div style="width:50px;float: right;">
                                                    <a data-id="<%= item.id %>" style="cursor: pointer;" class="open_mini_goal" onclick="javascript:void(0)">[OPEN]</a>
                                                </div>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Training Period 
                                        </td>
                                        <td class="grey_title">
                                            <%= model.setDefaultText(item.status, item.training_period_name) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Start Date 
                                        </td>
                                        <td class="grey_title">
                                            <%
                                            var d1 = new Date(Date.parse(item.start_date));            
                                            var start_date = moment(d1).format("dddd, D MMMM  YYYY");      
                                            %>
                                            <%= 
                                                model.setDefaultText(item.status, start_date) 
                                             %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Achieve By 
                                        </td>
                                        <td class="grey_title">
                                            <%
                                                var d2 = new Date(Date.parse(item.deadline));            
                                                var deadline = moment(d2).format("dddd, D MMMM  YYYY");      
                                            %>
                                            <%= model.setDefaultText(item.status, deadline) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Status 
                                        </td>
                                        <td>
                                            <%= model.setStatus(item.status) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Goal Details 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.details %>
                                        </td>
                                    </tr>
                                </table>
                                <br/>
                                <hr>
                                <br/>
                            <%
                            }
                         %>
                    <% }) %>
                    </div>
                    <% if(!model.statusReviewed(item.status))  { %>
                        <div style="width:100%;text-align: right;">
                            <a data-id="<%= primary_goal_id %>" style="cursor: pointer;" class="new_mini_goal" onclick="javascript:void(0)">[New Mini Goal]</a>
                        </div>
                    <% } %>
                </td>
            </tr>
        </table>
        <br/>
        <hr>
        <br/>
    <% }) %>
</script>


<script type="text/template" id="goal_template">
    <div class="fitness_block_wrapper" style="min-height:200px;">
        
        <h3><%= title %></h3>
        <div class="clr"></div>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <table width="100%">
                <tr>
                    <td width="50%">
                    <%
                        
                        var goal_type = model.attributes.goal_type;
                        var id = model.attributes.id;
                        
                        
                        var goals = model.attributes.goals.primary_goals
                        if(goal_type == 'mini_goal') {
                            goals = model.attributes.goals.mini_goals
                        }
                        
                        _.each(goals, function(item, key){
                            if(item.id == id) {
                                %>
                                <table width="100%">
                                    <% if(goal_type == 'primary_goal') { %>
                                    <tr>
                                        <td style="width:120px;">
                                            Primary Goal 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.primary_goal_name %>
                                        </td>
                                    </tr>
                                    <% } else { %>
                                    <tr>
                                        <td style="width:120px;">
                                            Mini Goal 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.mini_goal_name %>
                                        </td>
                                    </tr>                                    
                                    <% } %>
                                    
                                    <% if(goal_type == 'mini_goal') { %>
                                    <tr>
                                        <td>
                                            Training Period 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.training_period_name %>
                                        </td>
                                    </tr>
                                    <% } %>
                                    <tr>
                                        <td>
                                            Start Date 
                                        </td>
                                        <td class="grey_title">
                                            <%
                                            var d1 = new Date(Date.parse(item.start_date));            
                                            var start_date = moment(d1).format("dddd, D MMMM  YYYY");      
                                            %>
                                            <%= 
                                                start_date 
                                             %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Achieve By 
                                        </td>
                                        <td class="grey_title">
                                            <%
                                                var d2 = new Date(Date.parse(item.deadline));            
                                                var deadline = moment(d2).format("dddd, D MMMM  YYYY");      
                                            %>
                                            <%= deadline %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Status 
                                        </td>
                                        <td>
                                            <%= model.setStatus(item.status) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Goal Details 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.details %>
                                        </td>
                                    </tr>
                                </table>
                                <%
                            }
                        });
                    
                    %>
                        
                        <button id="cancel_goal">CLOSE</button>
                    </td>
                    <td>
                        <div id="comments_wrapper" style="width:100%"></div>
                        <div class="clr"></div>
                        <br/>
                        <input id="add_comment_0" class="" type="button" value="Add Comment" >
                        <div class="clr"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</script>



<!-- PAGINATION -->
<script type="text/template" id="backbone_pagination_template">
    <div id="bac_nav">
        <% if(currentPage > 1) { %>
            <a id="first_pag" title="First Page" href="javascript:void(0)">START</a>&#32; &#108;
            <a id="prev_pag" title="Previous Page" href="javascript:void(0)">PREV</a>
        <% } %>
        <ul id="ul-pagination"></ul>
        <% if(currentPage <  pages) { %>
            <a id="next_pag" title="Next Page" href="javascript:void(0)">NEXT</a>&#32;&#108;
            <a id="last_pag" title="Last Page" href="javascript:void(0)">END</a>
        <% } %>
    </div>
    <div style="width:100%;text-align: center;">
        Display # 
        <select style="float:none;" name="items_number" id="items_number">
            <option value="2">2</option>
            <option value="5">5</option>
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select> 
    </div>
</script>

<script id="template-page" type="text/template">
    <a id="a-page-item" class="<%= pageClass %>" href="javascript:void(0)"><%= pageNumber %></a>
</script>
<!-- END PAGINATION -->



<script type="text/template" id="image_upload_template">
    <%
    var background_image =  'url(' + "'" + base_url + img_path + '/' + picture  + "')" ;

    if(!picture) {
        background_image = 'url(' + "'" + default_image  + "')" ;
        full_image_path = '';
    } 
    %>
    <div class="form-left-col" style="text-align:center;">
        <form name="image_form">
            Select & Upload New Image 
            <div class="clr"></div>
            <a style=" cursor: pointer !important; z-index:999;" href="javascript:void(0)">[Add Image]</a>
            <div class="clr"></div>
            <input type="file" name="change_image" id="change_image" style=" cursor: pointer !important; direction: ltr;font-size: 20px;margin:-22px 0 0; opacity: 0;position: relative;display: inline; right: 0;top:0px; width: 200px;"> 
            <div class="clr"></div>
            Or drag image here
        </form>
        <div data-imagepath="<%= img_path + '/' + picture %>" 
            class="recipe_database_image"
            style=" background-image: <%= background_image %>; border:2px dashed #ccc;display: inline-block; margin: 5px;"
            id="preview_image">
        </div>
        <br/>
        <a style="display: inline-block; margin-right: 50px;" href="javascript:void(0)" class="save">[Save]</a>
        <a href="javascript:void(0)" class="clear_image">[Clear]</a>
    </div>

</script>
    
    
<script type="text/template" id="video_upload_template">
    <%
    var full_video_path = video_path + '/' + video;
    var video_html = '';
   
    if(!video) {
        var background_image = 'url(' + "'" + default_video_image  + "')" ;
        full_video_path = '';
    } else {
        var background_image = 'none';
        video_html = '<div style="margin-top:80px;">' + video + '</div>';
    }
    %>
    <div class="form-left-col" style="text-align:center;">
        <form name="video_form">
            Select & Upload New Video 
            <div class="clr"></div>
            <a style=" cursor: pointer !important; z-index:999;" href="javascript:void(0)">[Add Video]</a>
            <div class="clr"></div>
            <input type="file" name="change_video" id="change_video" style=" cursor: pointer !important; direction: ltr;font-size: 20px;margin:-22px 0 0; opacity: 0;position: relative;display: inline; right: 0;top:0px; width: 200px;"> 
            <div class="clr"></div>
            Or drag video here
        </form>
        
        <div data-videopath="<%= full_video_path %>" style=" background-image: <%= background_image%>; background-repeat: no-repeat;background-size:100% 100%;margin: 5px; display: inline-block; border:2px dashed #ccc;height:<%= preview_height%>;width:<%= preview_width%>;" id="preview_video"><%= video_html %></div>
        <br/>
        <a style="display: inline-block; margin-right: 50px;" href="javascript:void(0)" class="save">[Save]</a>
        <a href="javascript:void(0)" class="clear_video">[Clear]</a>
    </div>

</script>



<!--  Gredient Graph template -->
<script type="text/template" id="gredient_graph_template">
    <div style="display:inline-block;border:1px solid #000; width: <%= width %>;text-align: center; padding: 10px; font-size:12px;">
        <div style="width:100%;">
            <div style="padding: 0 4px">
                <div style="width:100%;height: 30px;" class="gradient_bar score_gradient">
                    <div class="gradient_bar_score_mark" style="width: 2px;height: 100%; margin-left: <%= level %>;"></div>
                </div>
            </div>

            <table style="margin-top:-10px;" width="100%">
                <tr>
                    <td width="25%" style="text-align: right"><div style="float: left">|</div><div style="float: right">|</div></td>
                    <td width="25%" style="text-align: right">|</td>
                    <td width="25%" style="text-align: right">|</td>
                    <td width="25%" style="text-align: right">|</td>
                </tr>
            </table>
            <table style="margin-top:-5px;" width="100%">
                <tr>
                    <td width="25%" style="text-align: right"><div style="float: left">0%</div><div style="float: right;margin-right:-12px;">25%</div></td>
                    <td width="25%" style="text-align: right"><div style="float: right;margin-right:-12px;">50%</div></td>
                    <td width="25%" style="text-align: right"><div style="float: right;margin-right:-12px;">75%</div></td>
                    <td width="25%" style="text-align: right"><div style="float: right;margin-right:-12px;">100%</div></td>
                </tr>
            </table>
        </div>
        <div style="margin:0"><%= title %> = <%= level %></div>
    </div>
</script>
