<!--  Status  -->
<script type="text/template" id="dialog_status_template">
    <div id="<%= wrapper %>">
        <img class="<%=  hide_image_class %>" src="<%= close_image %>" alt="close" title="close" >
        <% _.each(statuses, function(item, key){
            if(status_id != key) {
            %>
                <a class="<%= status_button_dialog %> <%= item.class %>" data-item_id="<%= item_id %>" data-status_id="<%= key %>" href="javascript:void(0)"> <%= item.label %></a>       
            <% 
            }
        })  
        if(show_send_email) {
        %>
            <input type="checkbox" id="send_diary_email" name="send_diary_email" value="1"> <span style="font-size:12px;">Send email</span>
        <% } %>
    </div>
      
</script>

<script type="text/template" id="status_button_template">
    <% _.each(statuses, function(item, key){
        if(status_id == key) {
        %>
            <a class="<%= status_button %> <%= item.class %>" data-item_id="<%= item_id %>" data-status_id="<%= key %>" href="javascript:void(0)"> <%= item.label %></a>       
        <% 
        }
    })  
    %>
</script>

<!-- Goals frontend  -->
<script type="text/template" id="default_goal_list_template">
    <div style="width:100%;text-align: right;">
        <select name="list_type" id="list_type">
            <option value="current">Current/Future Goals</option>
            <option value="previous">Previous Goals</option>
            <option value="current_primary_goal">Currrent Primary Goal</option>
            <option value="0">All Goals</option>
        </select> 
    </div>
    
    <div class="fitness_block_wrapper" style="min-height:200px;">
        <h3  style="float:left;">MY PRIMARY GOALS</h3>
        <h3 style="float:right;">MY MINI GOALS</h3>
        <div class="clr"></div>
        <hr class="orange_line">
        <div style="width:100%;" id="goals_wrapper">
        
        </div>
        <div class="internal_wrapper">
            <div style="width:100%;text-align: center;">
                <a style="cursor: pointer;" id="new_goal" onclick="javascript:void(0)">[New Goal]</a>
            </div>
        </div>
        <br/>
        <div style="width:100%;text-align: center;">
            Display # 
            <select name="items_number" id="items_number">
                <option value="1">1</option>
                <option value="5">5</option>
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="all">All</option>
            </select> 
        </div>
    </div>
</script>

<script type="text/template" id="add_goal_template">
    <%
        var goal_type = model.get('goal_type');
    %>
    <div class="fitness_block_wrapper" style="min-height:200px;">
        <h3><%= title %></h3>
        <div class="clr"></div>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <form action="" id="add_goal_form">
                <table>
                    <tr>
                        <td>
                            Start Date
                        </td>
                        <td>
                            <input style="width:60px;" readonly type="text" name="start_date" id="start_date" size="6" class="required">
                        </td>
                        <td>
                            (when will you begin training for this goal?)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Achieve By 
                        </td>
                        <td>
                            <input style="width:60px;" readonly type="text" name="deadline" id="deadline" size="6" class="required">
                        </td>
                        <td>
                            <% if(goal_type == 'primary_goal') { %>
                                (when do you wish to achieve your results?)
                            <% } else { %>
                                (when do you wish to achieve this mini goal?) 
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <% if(goal_type == 'primary_goal') { %>
                                Goal Details (describe in as much detail as possible the results you envision and what it is you wish to achieve...)
                            <% } else { %>
                                Goal Details (describe your mini goal in detail and how it will help achieve your primary goal) 
                            <% } %>
                            
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                           <textarea name="details" id="details" rows="20" cols="90" class="required"></textarea> 
                        </td>
                    </tr>
                </table>
                <br/>
                <button type="submit" id="add_goal">Submit</button>
                <button type="submit" id="cancel_add_goal">Cancel</button>
            </form>
        </div>
    </div>
</script>


<script type="text/template" id="primary_goal_template">
    <%
    var pages_number = model.getLocalStorageItem('pages_number');
    var counter = 0;
    _.each(model.attributes.goals.primary_goals, function(item, key){
    
    counter++;
    
    if((counter > pages_number) && (pages_number != 'all')) return;
    %>
        <table width="100%">
            <tr>
                <td width="50%">
                    <table width="100%">
                        <tr>
                            <td style="width:120px;">
                                Primary Goal 
                            </td>
                            <td class="grey_title">
                                <%= model.setDefaultText(item.status, item.primary_goal_name) %>
                                <% if(model.statusReviewed(item.status) && !model.statusAssessing(item.status)) { %>
                                    <div style="width:50px;float: right;">
                                        <a data-id="<%= item.id %>" style="cursor: pointer;" class="open_goal" onclick="javascript:void(0)">[OPEN]</a>
                                    </div>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Start Date 
                            </td>
                            <td class="grey_title">
                                <%
                                var d1 = new Date(Date.parse(item.start_date));            
                                var start_date = moment(d1).format("dddd, D MMMM  YYYY");      
                                %>
                                <%= 
                                    model.setDefaultText(item.status, start_date) 
                                 %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Achieve By 
                            </td>
                            <td class="grey_title">
                                <%
                                    var d2 = new Date(Date.parse(item.deadline));            
                                    var deadline = moment(d2).format("dddd, D MMMM  YYYY");      
                                %>
                                <%= model.setDefaultText(item.status, deadline) %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Status 
                            </td>
                            <td>
                                <%= model.setStatus(item.status) %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Goal Details 
                            </td>
                            <td class="grey_title">
                                <%= item.details %>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="minigoals_wrapper" style="width:100%;">
                    <% 
                    var primary_goal_id = item.id;
                    _.each(model.attributes.goals.mini_goals, function(item, key){ %>
                         <% if(primary_goal_id == item.primary_goal_id) { %>
                                <table width="100%">
                                    <tr>
                                        <td style="width:120px;">
                                            Mini Goal 
                                        </td>
                                        <td class="grey_title">
                                            <%= model.setDefaultText(item.status, item.mini_goal_name) %>
                                                <% if(model.statusReviewed(item.status) && !model.statusAssessing(item.status)) { %>
                                                <div style="width:50px;float: right;">
                                                    <a data-id="<%= item.id %>" style="cursor: pointer;" class="open_mini_goal" onclick="javascript:void(0)">[OPEN]</a>
                                                </div>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Training Period 
                                        </td>
                                        <td class="grey_title">
                                            <%= model.setDefaultText(item.status, item.training_period_name) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Start Date 
                                        </td>
                                        <td class="grey_title">
                                            <%
                                            var d1 = new Date(Date.parse(item.start_date));            
                                            var start_date = moment(d1).format("dddd, D MMMM  YYYY");      
                                            %>
                                            <%= 
                                                model.setDefaultText(item.status, start_date) 
                                             %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Achieve By 
                                        </td>
                                        <td class="grey_title">
                                            <%
                                                var d2 = new Date(Date.parse(item.deadline));            
                                                var deadline = moment(d2).format("dddd, D MMMM  YYYY");      
                                            %>
                                            <%= model.setDefaultText(item.status, deadline) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Status 
                                        </td>
                                        <td>
                                            <%= model.setStatus(item.status) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Goal Details 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.details %>
                                        </td>
                                    </tr>
                                </table>
                                <br/>
                                <hr>
                                <br/>
                            <%
                            }
                         %>
                    <% }) %>
                    </div>
                    <% if(!model.statusReviewed(item.status))  { %>
                        <div style="width:100%;text-align: right;">
                            <a data-id="<%= primary_goal_id %>" style="cursor: pointer;" class="new_mini_goal" onclick="javascript:void(0)">[New Mini Goal]</a>
                        </div>
                    <% } %>
                </td>
            </tr>
        </table>
        <br/>
        <hr>
        <br/>
    <% }) %>
</script>


<script type="text/template" id="goal_template">
    <div class="fitness_block_wrapper" style="min-height:200px;">
        
        <h3><%= title %></h3>
        <div class="clr"></div>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <table width="100%">
                <tr>
                    <td width="50%">
                    <%
                        
                        var goal_type = model.attributes.goal_type;
                        var id = model.attributes.id;
                        
                        
                        var goals = model.attributes.goals.primary_goals
                        if(goal_type == 'mini_goal') {
                            goals = model.attributes.goals.mini_goals
                        }
                        
                        _.each(goals, function(item, key){
                            if(item.id == id) {
                                %>
                                <table width="100%">
                                    <% if(goal_type == 'primary_goal') { %>
                                    <tr>
                                        <td style="width:120px;">
                                            Primary Goal 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.primary_goal_name %>
                                        </td>
                                    </tr>
                                    <% } else { %>
                                    <tr>
                                        <td style="width:120px;">
                                            Mini Goal 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.mini_goal_name %>
                                        </td>
                                    </tr>                                    
                                    <% } %>
                                    
                                    <% if(goal_type == 'mini_goal') { %>
                                    <tr>
                                        <td>
                                            Training Period 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.training_period_name %>
                                        </td>
                                    </tr>
                                    <% } %>
                                    <tr>
                                        <td>
                                            Start Date 
                                        </td>
                                        <td class="grey_title">
                                            <%
                                            var d1 = new Date(Date.parse(item.start_date));            
                                            var start_date = moment(d1).format("dddd, D MMMM  YYYY");      
                                            %>
                                            <%= 
                                                start_date 
                                             %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Achieve By 
                                        </td>
                                        <td class="grey_title">
                                            <%
                                                var d2 = new Date(Date.parse(item.deadline));            
                                                var deadline = moment(d2).format("dddd, D MMMM  YYYY");      
                                            %>
                                            <%= deadline %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Status 
                                        </td>
                                        <td>
                                            <%= model.setStatus(item.status) %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Goal Details 
                                        </td>
                                        <td class="grey_title">
                                            <%= item.details %>
                                        </td>
                                    </tr>
                                </table>
                                <%
                            }
                        });
                    
                    %>
                        
                        <button id="cancel_goal">CLOSE</button>
                    </td>
                    <td>
                        <div id="comments_wrapper" style="width:100%"></div>
                        <div class="clr"></div>
                        <br/>
                        <input id="add_comment_0" class="" type="button" value="Add Comment" >
                        <div class="clr"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</script>



<script type="text/template" id="nutrition_plan_template">
    <%
        var plan_data = model.attributes.plan_data;
    %>
    <table width="100%">
            <tr>
                <td width="40%">
                    <div class="fitness_block_wrapper" style="min-height:224px;">
                        <h3>MY TRAINERS</h3>
                        <hr class="orange_line">
                        <div class="internal_wrapper">
                            <table width="100%">
                                <tr>
                                    <td>
                                        Client Name
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%= plan_data.client_name %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Primary Trainer
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%= plan_data.trainer_name %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Secondary Trainers
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%
                                            var secondary_trainers = plan_data.secondary_trainers;
                                            _.each(secondary_trainers, function(item, key){ %>
                                                <%=  item + " <br/>" %>
                                            <%
                                            })
                                            
                                            %>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="fitness_block_wrapper" style="min-height:224px;">
                        <h3>NUTRITION PLAN & TRAINING PERIOD</h3>
                        <hr class="orange_line">
                        <div class="internal_wrapper">
                            <table width="100%">
                                <tr>
                                    <td>
                                        Primary Goal 
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%= plan_data.primary_goal_name %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Start Date
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%
                                            var d1 = new Date(Date.parse(plan_data.primary_goal_start_date));            
                                            var primary_goal_start_date = moment(d1).format("dddd D MMMM  YYYY");      
                                            %>
                                            <%= primary_goal_start_date %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Achieve By 
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%
                                            var d2 = new Date(Date.parse(plan_data.primary_goal_deadline));            
                                            var primary_goal_deadline = moment(d2).format("dddd D MMMM  YYYY");      
                                            %>
                                            <%= primary_goal_deadline %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mini Goal 
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%= plan_data.mini_goal_name %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Training Period 
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%= plan_data.training_period_name %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Start Date
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%
                                            var d3 = new Date(Date.parse(plan_data.active_start));            
                                            var active_start = moment(d3).format("dddd D MMMM  YYYY");      
                                            %>
                                            <%= active_start %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Achieve By 
                                    </td>
                                    <td>
                                        <span class="grey_title">
                                            <%
                                            var d4 = new Date(Date.parse(plan_data.active_finish));            
                                            var active_finish = moment(d4).format("dddd D MMMM  YYYY");      
                                            %>
                                            <%= active_finish %>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <br/>

        <div class="fitness_block_wrapper" style="min-height:150px;margin: 2px;">
            <h3>MY NUTRITION FOCUS</h3>
            <hr class="orange_line">
            <div class="internal_wrapper">
                <table width="100%">
                    <tr>
                        <td width="20%">
                            Nutrition Focus
                        </td>
                        <td>
                            <span class="grey_title">
                                 <%= plan_data.nutrition_focus_name %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <%= plan_data.trainer_comments %>
                        </td>
                    </tr>
                </table> 
            </div>
        </div>

</script>

<!-- PAGINATION -->
<script type="text/template" id="backbone_pagination_template">
    <div id="bac_nav">
        <% if(currentPage > 1) { %>
            <a id="first_pag" title="First Page" href="javascript:void(0)">START</a>&#32; &#108;
            <a id="prev_pag" title="Previous Page" href="javascript:void(0)">PREV</a>
        <% } %>
        <ul id="ul-pagination"></ul>
        <% if(currentPage <  pages) { %>
            <a id="next_pag" title="Next Page" href="javascript:void(0)">NEXT</a>&#32;&#108;
            <a id="last_pag" title="Last Page" href="javascript:void(0)">END</a>
        <% } %>
    </div>
    <div style="width:100%;text-align: center;">
        Display # 
        <select name="items_number" id="items_number">
            <option value="2">2</option>
            <option value="5">5</option>
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
        </select> 
    </div>
</script>

<script id="template-page" type="text/template">
    <a id="a-page-item" class="<%= pageClass %>" href="javascript:void(0)"><%= pageNumber %></a>
</script>
<!-- END PAGINATION -->


<!-- Recipe Database -->

<!--  main menu template -->
<script type="text/template" id="recipe_database_mainmenu_template">
    <ul>
        <li><a id="my_recipes_link" class="plan_menu_link"  href="#!/my_recipes">MY RECIPES</a></li>
        <li><a id="recipe_database_link" class="plan_menu_link"  href="#!/recipe_database">RECIPE DATABASE</a></li>
        <li><a id="nutrition_database_link" class="plan_menu_link"  href="#!/nutrition_database">NUTRITION DATABASE</a></li>
    </ul>
</script>

<script type="text/template" id="recipe_database_submenu_template">
    <div class="fitness_block_wrapper" style="height:30px;margin-top: 20px;">
        <div class="internal_wrapper">
            <div id="submenu_container"></div>
        </div>
        <hr class="orange_line">
    </div>
</script>

<!--  submenu  My Recipes template -->
<script type="text/template" id="recipe_database_submenu_content_template">
    <div style="width:100%;">
        <a data-id="" style="cursor: pointer; float:left;" class="" onclick="javascript:void(0)">[CREATE RECIPE]</a>
        <a data-id="" style="cursor: pointer;float:right;" class="" onclick="javascript:void(0)">[ARCHIVE/TRASH]</a>
    </div>
    <div class="clr"></div>
</script>

<!--  submenu for view/open recipe view template -->
<script type="text/template" id="recipe_database_submenu_recipe_content_template">
    <div style="width:100%;">
        <a data-id="" style="cursor: pointer;float:right;margin-right:10px;" class="" onclick="javascript:void(0)">[TRASH]</a>
        <a data-id="" style="cursor: pointer;float:right;margin-right:10px;" id="close_recipe" onclick="javascript:void(0)">[CLOSE]</a>
        <a data-id="" style="cursor: pointer; float:right;margin-right:10px;" class="" onclick="javascript:void(0)">[EDIT]</a>
    </div>
    <div class="clr"></div>
</script>

<!--  recipe database main container template -->
<script type="text/template" id="recipe_database_main_container_template">
    <div class="fitness_block_wrapper" style="margin-top: 20px;">
        <div class="internal_wrapper">
            
            <table width="100%">
                <tr>
                    <td style="vertical-align:top;">
                        <div id="recipe_database_items_wrapper"></div>
                    </td>
                    <td width="220" style="vertical-align:top;">
                        <div id="recipe_database_filter_wrapper"></div>
                        <div class="clr"></div>
                        <br>
                        <div id="recipes_latest_wrapper"></div>
                    </td>
                </tr>
            <table>
            <div style="text-align:center;" id="pagination_container">
            </div>
        </div>
    </div>
</script>


<!--  view/open recipe template -->
<script type="text/template" id="recipe_database_view_recipe_template">
    <%
    if(!image){
        image = model.get('default_image');
    }
    %>
    <div class="fitness_block_wrapper" style="margin-top: 20px;">
        <div class="internal_wrapper">
            <% var my_recipes = model.get('my_recipes'); %>
            <div class="recipe_database_item_wrapper" style="margin-top: 0px;">
                <table width="100%">
                    <tr>
                        <td width="40%">
                            <table  width="100%">
                                <tr>
                                    <td width="40%">RECIPE NAME</td>
                                    <td width="60%">
                                        <span class="grey_title">
                                             <%= recipe_name %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>RECIPE TYPE</td>
                                    <td>
                                        <span class="grey_title">
                                            <% _.each(recipe_types_names, function(item){ %>
                                                <%= item + "<br/>" %>
                                            <% 
                                            })  
                                            %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SERVES</td>
                                    <td>
                                        <span class="grey_title">
                                             <%= number_serves %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>AUTHOR</td>
                                    <td>
                                        <span class="grey_title">
                                             <%= author %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>STATUS</td>
                                    <td>
                                        <span class="grey_title">
                                             <%= model.setStatus(status) %>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>TRAINER</td>
                                    <td>
                                        <span class="grey_title">
                                             <%= trainer || '-' %>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="30%" ></td>
                        <td width="30%" style="text-align:center; vertical-align:middle;">
                            <div class="recipe_database_image" style="display: inline-block;background-image: url('<%= image %>')"></div>
                        </td>
                    </tr>

                </table>
                <br/>
                <table width="100%">
                    <thead>
                        <th>MEAL ITEM/DESCRIPTION</th>
                        <th>QUANTITY</th>
                        <th>Protein</th>
                        <th>Fat</th>
                        <th>Carbs</th>
                        <th>Energy</th>
                        <th>Fat, Sat</th>
                        <th>Sug</th>
                        <th>Sod</th>
                    </thead>
                    <tbody>
                    <% _.each(recipe_meals, function(item){ %>
                        <tr >
                            <td width="30%">
                                <%= item.meal_name %>
                            </td>
                            <td>
                                <%= item.quantity + ' ' + item.measurement %>
                            </td>
                            <td>
                                <%= item.protein %>
                            </td>
                            <td>
                                <%= item.fats %>
                            </td>
                            <td>
                                <%= item.carbs %>
                            </td>
                            <td>
                                <%= item.energy %>
                            </td>
                            <td>
                                <%= item.saturated_fat %>
                            </td>
                            <td>
                                <%= item.total_sugars %>
                            </td>
                            <td>
                                <%= item.sodium %>
                            </td>
                        </tr>
                    <% 
                    })  
                    %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                
                            </td>
                            <td class="table_border_top table_border_bottom">
                                TOTALS 
                            </td>
                            <td class="table_border_top table_border_bottom">
                                <%= calories %>
                            </td>
                            <td class="table_border_top table_border_bottom">
                                <%= energy %>
                            </td>
                            <td class="table_border_top table_border_bottom">
                                <%= protein %>
                            </td>
                            <td class="table_border_top table_border_bottom">
                                <%= fats %>
                            </td>
                            <td class="table_border_top table_border_bottom">
                                <%= carbs %>
                            </td>
                            <td class="table_border_top table_border_bottom">
                                <%= total_sugars %>
                            </td>
                            <td class="table_border_top table_border_bottom">
                                <%= sodium %>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <br>
                <h5>COOKING INSTRUCTIONS / METHOD</h5>
                <span style="width:100%" class="grey_title">
                    <%= instructions %>
                </span>
                
                <br>
                <div id="comments_wrapper" style="width:99%"></div>
                <div class="clr"></div>
                <br/>
                <input id="add_comment_0" class="" type="button" value="Add Comment" >
                <div class="clr"></div>
            </div>
        </div>
    </div>

</script>


<!--  item recipe list template -->
<script type="text/template" id="recipe_database_item_template">
    <%
    if(!image){
        image = model.get('default_image');
    }
    %>
    <% var my_recipes = model.get('my_recipes'); %>
    <div class="recipe_database_item_wrapper" style="margin-top: 0px;">
        <table width="100%">
            <tr>
                <td width="30%" style="text-align:center; vertical-align:middle;">
                    <div class="recipe_database_image" style="display: inline-block;background-image: url('<%= image %>')"></div>
                </td>
                <td width="50%">
                    <table  width="100%">
                        <tr>
                            <td width="40%">RECIPE NAME</td>
                            <td width="60%">
                                <span class="grey_title">
                                     <%= recipe_name %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>RECIPE TYPE</td>
                            <td>
                                <span class="grey_title">
                                    <% _.each(recipe_types_names, function(item){ %>
                                        <%= item + "<br/>" %>
                                    <% 
                                    })  
                                    %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>SERVES</td>
                            <td>
                                <span class="grey_title">
                                     <%= number_serves %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>AUTHOR</td>
                            <td>
                                <span class="grey_title">
                                     <%= author %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>STATUS</td>
                            <td>
                                <span class="grey_title">
                                     <%= model.setStatus(status) %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>TRAINER</td>
                            <td>
                                <span class="grey_title">
                                     <%= trainer || '-' %>
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="text-align:center; vertical-align:bottom;">
                    <a data-id="<%= id %>" style="cursor: pointer;" class="view_recipe" onclick="javascript:void(0)">[VIEW RECIPE]</a>
                    <br/><br/>
                    <% if(my_recipes) { %>
                        <a data-id="" style="cursor: pointer;" class="" onclick="javascript:void(0)">[TRASH RECIPE]</a>
                    <% } else { %>
                        <a data-id="" style="cursor: pointer;" class="" onclick="javascript:void(0)">[QUICK COPY]</a>
                    <% } %>
                </td>
            </tr>
        </table>
        </br>
        <div class="fitness_block_wrapper" style="">
            <table width="100%">
                <tr>
                    <td>
                        CALORIES
                        <span class="grey_title"><%= calories || '0.00' %></span>
                    </td>
                    <td>
                        ENERGY
                        <span class="grey_title"><%= energy || '0.00' %></span>
                    </td>
                    <td>
                        PROTEIN
                        <span class="grey_title"><%= protein || '0.00' %></span>
                    </td>
                    <td>
                        FAT
                        <span class="grey_title"><%= fats || '0.00' %></span>
                    </td>
                    <td>
                        CARB
                        <span class="grey_title"><%= carbs || '0.00' %></span>
                    </td>
                    <td>
                        SUGAR
                        <span class="grey_title"><%= total_sugars || '0.00' %></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <hr>
    <br/>
</script>



<!--  latest recipes item template -->
<script type="text/template" id="recipes_latest_item_template">
    <div class="recipe_database_latest_item_wrapper" style="margin-top: 0px;">
        <table  width="100%">
            <tr>
                <td colspan="2">
                     <h5><%= recipe_name %></h5>
                </td>
            </tr>
            <tr>
            <tr>
                <td>AUTHOR:</td>
                <td>
                    <span class="grey_title">
                         <%= author %>
                    </span>
                </td>
            </tr>
            <tr>
                <td>CREATED:</td>
                <td>
                    <span class="grey_title">
                        <%
                        var d1 = new Date(Date.parse(created));            
                        var created_date = moment(d1).format("ddd, D MMM  YY"); 
                        
                        %>
                        <%= created_date %>
                    </span>
                </td>
            </tr>
        </table>

        <table width="100%">
            <tr>
                <td>
                    CALORIES:
                    <span class="grey_title"><%= calories || '0.00' %></span>
                </td>
                <td>
                    PRO:
                    <span class="grey_title"><%= protein || '0.00' %></span>
                </td>
            </tr>
            <tr>
                <td>
                    ENERGY:
                    <span class="grey_title"><%= energy || '0.00' %></span>
                </td>
                
                <td>
                    FAT:
                    <span class="grey_title"><%= fats || '0.00' %></span>
                </td>
            </tr>
            <tr>
                <td>
                    SUGAR:
                    <span class="grey_title"><%= total_sugars || '0.00' %></span>
                </td>
                <td>
                    CARB:
                    <span class="grey_title"><%= carbs || '0.00' %></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center; vertical-align:bottom;">
                    <a data-id="<%= id %>" style="cursor: pointer;" class="view_recipe" onclick="javascript:void(0)">[VIEW]</a>
                </td>
            </tr>
        </table>
    </div>
    <hr>
</script>

<!--  latest recipes wrapper template -->
<script type="text/template" id="recipes_latest_wrapper_template">
    <div class="fitness_block_wrapper" style="">
        <h5>LATEST RECIPES</h5>
        <div class="clr"></div>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <div id="latest_recipes_container"></div>
        </div>
    </div>
</script>


<!--  categories filter template -->
<script type="text/template" id="recipe_database_filter_template">
    <div class="fitness_block_wrapper" style="">
        <h5>FILTER CATEGORIES</h5>
        <div class="clr"></div>
        <hr class="orange_line">
        <div class="internal_wrapper">
            <select multiple size="<%= items.length + 1 %>" id="categories_filter" name="categories_filter[]" class="" style="width:100%;">
                <option value="">ALL CATEGORIES</option>
                <% if (typeof items !== "undefined") { %>
                    <% _.each(items, function(item, key){ %>
                          <option value="<%= item.id %>"><%= item.name %></option>
                    <% }) %>
                <% } %>
            </select>
        </div>
    </div>
</script>






