<a id="show_hide_comments"  style="cursor:pointer;float:right;margin-left: 10px;" href="javascript:void(0)">[SHOW COMMENTS]</a>     
<a id="add_exercise"  style="cursor:pointer;float:right;margin-left: 10px;" href="javascript:void(0)">[ADD EXERCISE]</a>     
<div class="clr"></div>
<br/>

<div id="exercise_table_wrapper">
    <table id="exercise_table" width="100%">
        <thead class="table_header">
            <tr>
                <th width="25">

                </th>
                <th width="50">VIDEO</th>
                <th>SEQUENCE</th>
                <th>EXERCISE NAME</th>
                <th>SPEED</th>
                <th>WEIGHT</th>
                <th>REPS</th>
                <th>TIME</th>
                <th>SETS</th>
                <th>REST</th>
                <th class="comments">COMMENTS</th>
                <th width="25" class="center">
                    <a id="copy_selected" title="Copy Selected" style="cursor: pointer;" onclick="javascript:void(0)"><span class="copy_icon"></span></a>
                </th>
                <th width="25" class="center">
                    <a id="delete_selected" title="Delete Selected" style="cursor: pointer;" onclick="javascript:void(0)"><span  class="delete_icon"></span></a>
                </th>
                <th width="25" class="center">
                    <input id="select_all" type="checkbox"/>
                </th>
            </tr>
        </thead>
        <tbody id="items_container" class="table-list">

        </tbody>
    </table>
</div>



