<tr data-id="<%= id %>" class="item_row row1" id="exercise_row_<%= id %>">
    <td class="center drag_item" title="Drag, move and drop the row to change the ordering.">
          
    </td>
    <td class="center">
        <% if(parseInt(video_id)){ %>
            <a class="show_exercise_video" style="cursor: pointer;" onclick="javascript:void(0)"><span title="Show Exercise Video"  data-id="<%= video_id %>"  class="video_link_icon"></span></a>
        <% } else { %>
            <a class="search_video" style="cursor: pointer;" onclick="javascript:void(0)"><span title="Search Video"  data-id="<%= id %>"  class="search_video_icon"></span></a>
        <% } %>
    </td>
    <td contenteditable class="data_cell center" data-name="sequence"> 
        <%= sequence %>
    </td>
    <td contenteditable class="data_cell" data-name="title"> 
        <%= title %>
    </td>
    <td contenteditable class="data_cell center" data-name="speed">
        <%= speed %>
    </td>
    <td contenteditable class="data_cell center" data-name="weight">
        <%= weight %>
    </td>
    <td contenteditable class="data_cell center" data-name="reps">
        <%= reps %>
    </td>
    <td contenteditable class="data_cell center" data-name="time">
        <%= time %>
    </td>
    <td contenteditable class="data_cell center" data-name="sets">
        <%= sets %>
    </td>
    
    <td contenteditable class="data_cell center" data-name="rest">
        <%= rest %>
    </td>
    

    <td contenteditable class="data_cell comments" data-name="comments">
        <%= comments %>
    </td>
    
    <td class="center">
        <a title="Copy" style="cursor: pointer;" class="copy_item" onclick="javascript:void(0)"><span  data-id="<%= id %>"  class="copy_icon"></span></a>
    </td>
    <td class="center">
        <a class="delete" style="cursor: pointer;" onclick="javascript:void(0)"><span title="Delete" data-id="<%= id %>" class="delete_icon"></span></a>
    </td>
    <td class="center">
        <input tabindex="-1" data-id="<%= id %>" class="trash_checkbox" type="checkbox"/>
    </td>
</tr>
