<%
var sort_title = 'Click to sort by this column';
%>
<div class="fitness_block_wrapper" style="margin-top: 20px; background-color:#fff;">
    <div class="internal_wrapper">
        <table width="100%">
            <thead class="table_header" style="font-size: 12px;">
                <tr>
                    <th></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_recipe_name" onclick="javascript:void(0)">Recipe Name</a></th>
                    <th>Recipe Type</th>
                    <th>Recipe Variations</th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_created_by" onclick="javascript:void(0)">Author Name</a></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_created" onclick="javascript:void(0)">Date Created</a></th>

                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_calories" onclick="javascript:void(0)">Calories</a></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_energy" onclick="javascript:void(0)">Energy (kj)</a></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_protein" onclick="javascript:void(0)">Protein (g)</a></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_fats" onclick="javascript:void(0)">Total Fat (g)</a></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_saturated_fat" onclick="javascript:void(0)">Sat. Fat (g)</a></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_carbs" onclick="javascript:void(0)">Carb (g)</a></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_total_sugars" onclick="javascript:void(0)">Sugar (g)</a></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_sodium" onclick="javascript:void(0)">Sodium (mg)</a></th>
                    <th><a title="<%= sort_title %>" style="cursor: pointer;" id="sort_status" onclick="javascript:void(0)">Status</a></th>

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th><input style="margin-left:2px;" id="select_trashed" type="checkbox"/></th>
                </tr>
            </thead>
            <tbody id="items_container">
            
            </tbody>
        </table>
        <br/>
        <div style="text-align:center;" id="pagination_container"></div>
    </div>
</div>