<div style="width:200px;float:left;" id="recipe_type_wrapper"></div>
<div style="width:200px;float:left;margin-left: 10px;"  id="recipe_variation_wrapper"></div>

<div class="clr"></div>

<div style="display: inline-block; float: right;"  class="right">
    <div id="toolbar" class="toolbar-list right">
        <a title="Add New" id="add_item" class="toolbar" onclick="javascript:void(0)">
            <span  class="icon-32-new"> </span>
        </a>
        
        <a  title="Copy Selected" id="copy_selected"  class="toolbar" onclick="javascript:void(0)">
            <span class="icon-32-save-new"> </span>
        </a>
        
        <a title="Publish" id="publish_selected" class="toolbar" onclick="javascript:void(0)">
            <span  class="icon-32-publish"> </span>
        </a>
        
        <a title="Unpublish" id="unpublish_selected" class="toolbar" onclick="javascript:void(0)">
            <span  class="icon-32-unpublish"> </span>
        </a>
        
        <a title="Trash/Delete" id="trash_delete_selected" class="toolbar" onclick="javascript:void(0)">
            <span  class="icon-32-trash"> </span>
        </a>
    </div>
</div>

<div class="clr"></div>

<div style="float:left;">
    <input id="recipe_name" size="20" type="text" placeholder="Recipe Name" >
    <input id="created_by_name" size="20" type="text" placeholder="Author Name" >
    
    <input id="date_from" size="10" type="text" placeholder="Date From" >
    <input id="date_to" size="10" type="text" placeholder="Date To" >
    
    <input id="search" type="button" value="Search">
    <input id="clear_all" type="button" value="Clear All">
    
    <div style="display: inline-block;" id="business_profile_select"></div>

    <div style="display: inline-block;" id="status_wrapper"></div>
    
    <div style="display: inline-block;" id="state_wrapper"></div>
    
</div>
    