<fieldset class="adminform">
    <table border="0" width="100%">
        <tr>
            <td width="30%" style="vertical-align: top;">
                <h5>AGE, HEIGHT & WEIGHT</h5>
                <table border="0" width="100%">
                    <tr>
                        <td >AGE (years)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="age" value="" id="age">
                        </td>
                    </tr>
                    <tr>
                        <td >HEIGHT (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="height" value="" id="height">
                        </td>
                    </tr>
                    <tr>
                        <td>WEIGHT (kg)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="weight" value="" id="weight">
                        </td>
                    </tr>
                </table>
            </td>

            
            <td style="vertical-align: top;">
                <h5>BIOSIGNATURE CALCULATIONS</h5>
                <table border="0" width="100%">
                    <tr>
                        <td>TOTAL BODY FAT (%)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="total_body_fat" value="" id="total_body_fat">
                        </td>
                        
                    </tr>
                    <tr>
                        <td>LEAN MASS (kg)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="lean_mass" value="" id="lean_mass">
                        </td>
                    </tr>
                    <tr>
                        <td>SUM 10 (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="sum_10" value="" id="sum_10">
                        </td>
                    </tr>
                    <tr>
                        <td>LEFT BICEP (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="left_bicep" value="" id="left_bicep">
                        </td>
                    </tr>
                    <tr>
                        <td>QUADS & HAM (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="quads_ham" value="" id="quads_ham">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
            
            
            <td width="30%" style="vertical-align: top;">
                <h5>PRIORITIES</h5>
                <table border="0" width="100%">
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    <!-- -->
    <h5>BODY FAT (SKIN FOLD) MEASUREMENTS</h5>
    <table border="0" width="100%">
        <tr>
            <td width="30%" style="vertical-align: top;">
                <table border="0" width="100%">
                    <tr>
                        <td >CHIN (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="chin" value="" id="chin">
                        </td>
                    </tr>
                    <tr>
                        <td >CHEEK (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="cheek" value="" id="cheek">
                        </td>
                    </tr>
                    <tr>
                        <td>PECTORIAL (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="pectorial" value="" id="pectorial">
                        </td>
                    </tr>
                    <tr>
                        <td>TRICEPS (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="triceps" value="" id="triceps">
                        </td>
                    </tr>
                </table>
            </td>
            
            
            
            
            <td style="vertical-align: top;">
                <table border="0" width="100%">
                    <tr>
                        <td>SUB-SCAPULARIS (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="sub_scapularis" value="" id="sub_scapularis">
                        </td>
                        
                    </tr>
                    <tr>
                        <td>MIDAXILLARY (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="midaxillary" value="" id="midaxillary">
                        </td>
                    </tr>
                    <tr>
                        <td>SUPRASPINATUS (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="supraspinatus" value="" id="supraspinatus">
                        </td>
                    </tr>
                    <tr>
                        <td>UMBILICAL (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="umbilical" value="" id="umbilical">
                        </td>
                    </tr>
                 </table>
            </td>
            
            
            <td width="30%" style="vertical-align: top;">
                <table border="0" width="100%">
                    <tr>
                        <td>KNEE (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="knee" value="" id="knee">
                        </td>
                        
                    </tr>
                    <tr>
                        <td>CALF (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="calf" value="" id="calf">
                        </td>
                    </tr>
                    <tr>
                        <td>QUADRICEP (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="quadricep" value="" id="quadricep">
                        </td>
                    </tr>
                    <tr>
                        <td>HAMSTRING (mm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="hamstring" value="" id="hamstring">
                        </td>
                    </tr>
                 </table>
            </td>
        </tr>
    </table>
    
    <!-- -->

    <table border="0" width="100%">
        <tr>
            <td width="30%" style="vertical-align: top;">
                <h5>ANATOMICAL MEASUREMENTS</h5>
                <table border="0" width="100%">
                    <tr>
                        <td >CHEST (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="chest" value="" id="chest">
                        </td>
                        <td >LEFT THIGH (cm) </td>
                        <td>
                            <input  class="assessment_input" type="text" name="left_thigh" value="" id="left_thigh">
                        </td>
                    </tr>
                    <tr>
                        <td >WAIST (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="waist" value="" id="waist">
                        </td>
                        <td>RIGHT THIGH (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="right_thigh" value="" id="right_thigh">
                        </td>
                    </tr>
                    <tr>
                        <td>HIPS (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="hips" value="" id="hips">
                        </td>
                        <td>LEFT CALF (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="left_calf" value="" id="left_calf">
                        </td>
                    </tr>
                    <tr>
                        <td>LEFT BICEP (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="left_bicep" value="" id="left_bicep">
                        </td>
                        <td>RIGHT BICEP (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="right_bicep" value="" id="right_bicep">
                        </td>
                    </tr>
                </table>
            </td>
            
            
            
            
            <td style="vertical-align: top;">
                <h5>TEST SCORES</h5>
                <table border="0" width="100%">
                    <tr>
                        <td>BLOOD PRESSURE (mm/hg)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="blood_pressure" value="" id="blood_pressure">
                        </td>
                        
                    </tr>
                    <tr>
                        <td>BODY COMPOSITION (bmi)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="body_composition" value="" id="body_composition">
                        </td>
                    </tr>
                    <tr>
                        <td>LUNG FUCTION (ml)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="lung_function" value="" id="lung_function">
                        </td>
                    </tr>
                    <tr>
                        <td>FITNESS / VO2 MAX</td>
                        <td>
                            <input  class="assessment_input" type="text" name="v02_max" value="" id="v02_max">
                        </td>
                    </tr>
                 </table>
            </td>
            
            
            <td width="30%" style="vertical-align: top;">
            </td>
        </tr>
    </table>
</fieldset>