<table width="400">
    <tr>
        <td width="100">
            <label>Business Name</label>
        </td>
        <td id="business_name_select">
            
        </td>
    </tr>
    
    <% if(id) { %>
    <tr>
        <td>
            <label>Author</label> 
        </td>
        <td>
            <%= created_by_name %>
        </td>
    </tr>
    <% } %>
    
    <tr>
        <td>
            <label>Trainer Name</label> 
        </td>
        <td id="trainer_select">
            
        </td>
    </tr>
    
</table>

