<fieldset class="adminform">
    <table border="0" width="100%">
        <tr>
            <td width="30%" style="vertical-align: top;">
                <h5>PHYSICAL MEASUREMENTS</h5>
                <table border="0" width="100%">
                    <tr>
                        <td >AGE (years)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="age" value="" id="age">
                        </td>
                    </tr>
                    <tr>
                        <td >HEIGHT (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="height" value="" id="height">
                        </td>
                    </tr>
                    <tr>
                        <td>WEIGHT (kg)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="weight" value="" id="weight">
                        </td>
                    </tr>
                    <tr>
                        <td>LEAN MASS (kg) </td>
                        <td>
                            <input  class="assessment_input" type="text" name="lean_mass" value="" id="lean_mass">
                        </td>
                    </tr>
                    <tr>
                        <td>BODY FAT (%)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="body_fat" value="" id="body_fat">
                        </td>
                    </tr>
                </table>
            </td>
            
            
            
            
            <td style="vertical-align: top;">
                <h5>ANATOMICAL MEASUREMENTS</h5>
                <table border="0" width="100%">
                    <tr>
                        <td>CHEST (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="chest" value="" id="chest">
                        </td>
                        <td>LEFT THIGH (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="left_thigh" value="" id="left_thigh">
                        </td>
                    </tr>
                    <tr>
                        <td>WAIST (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="waist" value="" id="waist">
                        </td>
                        <td>RIGHT THIGH (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="rigth_thigh" value="" id="rigth_thigh">
                        </td>
                    </tr>
                    <tr>
                        <td>HIPS (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="hips" value="" id="hips">
                        </td>
                        <td>LEFT CALF (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="left_calf" value="" id="left_calf">
                        </td>
                    </tr>
                    <tr>
                        <td>LEFT BICEP (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="left_bicep" value="" id="left_bicep">
                        </td>
                        <td>RIGHT CALF (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="right_calf" value="" id="right_calf">
                        </td>
                    </tr>
                    <tr>
                        <td>RIGHT BICEP (cm)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="right_bicep" value="" id="right_bicep">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
            
            
            <td width="30%" style="vertical-align: top;">
                <h5>TEST SCORES</h5>
                <table border="0" width="100%">
                    <tr>
                        <td>BLOOD PRESSURE (mm/hg)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="blood_pressure" value="" id="blood_pressure">
                        </td>
                        <td>BODY COMPOSITION (bmi)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="body_composition" value="" id="body_composition">
                        </td>
                    </tr>
                    <tr>
                        <td>LUNG FUCTION (ml)</td>
                        <td>
                            <input  class="assessment_input" type="text" name="lung_function" value="" id="lung_function">
                        </td>
                        <td>FITNESS / VO2 MAX</td>
                        <td>
                            <input  class="assessment_input" type="text" name="vo2_max" value="" id="vo2_max">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</fieldset>