<table width="100%">
    <tr>
        <td width="100">
            <label>Exercise Name</label>
        </td>
        <td >
            <% if(edit_allowed) { %>
                <input id="exercise_name" size="50" type="text" title="" value="<%= exercise_name %>" name="exercise_name">
            <% } else { %>
                <input readonly id="exercise_name" size="50" type="text" title="" value="<%= exercise_name %>" name="exercise_name">
            <% } %>
            
        </td>
    </tr>
    <tr>
        <td>
            <label>Author Name</label>
        </td>
        <td id="created_by" >
            <%= created_by_name %>
        </td>
    </tr>
    <tr>
        <td>
            <label>User Group</label>
        </td>
        <td id="user_group" >
            <%= user_group_name %>
        </td>
    </tr>
    <tr>
        <td>
            <label>Created Date</label>
        </td>
        <td id="created" >
            <%
            var d1 = new Date(Date.parse(created));            
            var created = moment(d1).format("dddd, D MMM  YYYY");      
            %>
            <% if (id) { %>
                <%= created %>
            <% } %> 
        </td>
    </tr>
    <tr>
        <td>
            <label>Status</label>
        </td>
        <td id="status_button_place_<%= id %>">

        </td>
    </tr>
    <tr>
        <td>
            <label>Assessed By</label>
        </td>
        <td id="assessed_by" >
            <%= assessed_by_name || '-' %>
        </td>
    </tr>
    <% if(edit_allowed) { %>
    <tr>
        <td>
            <label>Published</label>
        </td>
        <td>
            <select id="state" class="inputbox" size="1" name="state">
                <%
                var selected_published = '';
                var selected_unpublished = 'selected="selected"';
                if(state == '1') {
                    selected_published = 'selected="selected"';
                    selected_unpublished = '';
                }
                
                %>
                <option <%= selected_published %> value="1">Published</option>
                <option <%= selected_unpublished %>   value="0">Unpublished</option>
            </select>
        </td>
    </tr>
    <% } %> 
</table>
