<div class="width-100 fltlft fitness_block_wrapper">
    <table width="100%">
        <tr>
            <td style="vertical-align: top;">
                <fieldset class="adminform">
                    <legend>Exercise Details</legend>
                    <div id="exercise_details_wrapper"></div>
                </fieldset>
                
                <div id="exercise_video_wrapper" style="vertical-align: top;height: 100%;"></div>
            </td>
            <td style="vertical-align: top;">
                <fieldset class="adminform">
                    <legend>Exercise Options</legend>
                    <div id="select_filter_wrapper"></div>
                </fieldset>
                
                <div id="permissions_wrapper"></div>
            </td>
        </tr>
    </table>
</div>