<div class="internal_wrapper" style="height:300px;">
    <table width="100%">
        <tr>
            <td  class="center" width="300px">
                <h6>ACTIVITY LEVEL</h6>
                <span class="title" style="line-height: 69px;font-size:28px;font-weight:bold;"> </span>
            </td>
            <td  class="center">
                <div  class="pie-container">
                    <h6 style="margin-top:10px;margin-bottom: 5px">MACRONUTRIENT RATIOS</h6>
                    <div style="width:220px;height:220px;font-size: 14px; line-height: 1.2em;" class="placeholder_pie"></div>
                </div>
            </td>
            <td class="center">
                <h6 style="margin-top:50px;">TARGET CALORIE INTAKE</h6> 
                <div style="line-height: 80px;font-size: 48px; color:#00983A; font-weight: bold;"><%= calories %></div>
                <div  style="font-size: 22px; color:#00983A;font-weight: bold; height: 40px;"> calories</div>
            </td>
            <td class="center">
                <h6 style="margin-top:50px;">TARGET WATER INTAKE</h6>
                <div style="line-height: 80px;font-size:48px; color:#3F9EEB; font-weight: bold;"><%= water %></div>
                <div style="font-size: 22px; color:#3F9EEB; font-weight: bold; height: 40px;">millilitres</div>
            </td>
        </tr>
    </table> 
</div>
<hr>