<table width="100%">
    <tr>
        <td  class="left">
            <h3 style="color:#FFFFFF !important;">SUPPLEMENTS & SUPPLEMENT PROTOCOLS</h3>
        </td>
        <td>
            <a data-id="<%= id %>" style="float:right;" id="pdf_button_supplements"  class="pdf_button" href="javascript:void(0)" title="Save in PDF"></a>
            <a data-id="<%= id %>"  style="float:right;" id="email_button_supplements" class="email_button" href="javascript:void(0)" title="Send by Email"></a>
        </td>
    </tr>
</table>
<div class="protocols_wrapper"> </div>