<fieldset>
    <legend>Batch process the selected items</legend>
    <div class="clr"></div>
    <%= title %>
    <div class="clr"></div>
    <br/>
    <div style="width:120px;" id="batch_status_wrapper"></div>
    <div class="clr"></div>
    <br/>
    <input type="checkbox"  id="batch_send_status_email" value="1">

    <span style="font-size:12px;"><%= email_title %></span>
    
    <div class="clr"></div>
    <br/>
    <input style="cursor:pointer;" type="button" value="Process" id="batch_process">
</fieldset>