<div style="width:200px;float:left;" id="business_name_select_wrapper"></div>
<div style="width:200px;float:left;" id="trainer_select_wrapper"></div>
<div style="width:200px;float:left;" id="client_select_wrapper"></div>

<div  class="clr"></div>
<br/>

<input id="client_name" size="10" type="text" placeholder="Client Name" >
<input id="trainer_name" size="10" type="text" placeholder="Trainer Name" >
<input id="assessed_by_name" size="10" type="text" placeholder="Assessed By" >
<input id="final_score_from" size="18" type="text" placeholder="Final Score % (from)" >
<input id="final_score_to" size="18" type="text" placeholder="Final Score % (to)" >
<input id="entry_date_from" size="18" type="text" placeholder="Entry Date (from)" >
<input id="entry_date_to" size="18" type="text" placeholder="Entry Date (to)" >
<input id="submit_date_from" size="18" type="text" placeholder="Submit Date (from)" >
<input id="submit_date_to" size="18" type="text" placeholder="Submit Date (to)" >

<input id="search" type="button" value="Search">
<input id="clear_all" type="button" value="Clear All">

<div  class="clr"></div>

<table style="float:right;">
    <tr>
        <td>
            <div id="status_wrapper"></div>
        </td>
        <td>
            <div id="state_wrapper"></div>
        </td>
        <td>
            <div id="toolbar" class="toolbar-list right">
                <a title="Publish" id="publish_selected" class="toolbar" onclick="javascript:void(0)">
                    <span  class="icon-32-publish"> </span>
                </a>

                <a title="Unpublish" id="unpublish_selected" class="toolbar" onclick="javascript:void(0)">
                    <span  class="icon-32-unpublish"> </span>
                </a>

                <a title="Trash/Delete" id="trash_delete_selected" class="toolbar" onclick="javascript:void(0)">
                    <span  class="icon-32-trash"> </span>
                </a>
            </div>
        </td>
    </tr>
</table>







    