<div style="color:#fff;width:99%;padding:2px;cursor:default;margin-top:10px;" >
    <table width="100%">
        <tr>
            <td></td>
            <td style="text-align: right;">
                WHAT TIME WAS THIS MEAL CONSUMED?
            </td>
            <td>
                <input style="width:43px;margin:0;" type="text" size="5" class="meal_time dark_input_style" value="<%= item.meal_time %>">
            </td>
            <td>
                hh:mm
            </td>
        </tr>
        
        <tr>
            <td></td>
            <td style="text-align: right;">
                HOW MUCH WATER WAS CONSUMED WITH THIS MEAL? 
            </td>
            <td>
                <input  style="width:43px;" type="text" size="5" class="meal_water dark_input_style" value="<%= item.water %>">
            </td>
            <td >
                millilitres
            </td>
        </tr>
        
        <tr>
            <td>
            <td style="text-align: right;">
                HOW MUCH WATER WAS CONSUMED BETWEEN THIS MEAL AND THE PREVIOUS MEAL? 
            </td>
            <td width="70">
                <input style="width:43px;" type="text" size="5" class="meal_previous_water dark_input_style" value="<%= item.previous_water %>">
            </td>
            <td width="70">
                millilitres
            </td>
        </tr>
    </table>
    
    <div class="clr"></div>
    <a onclick="javascript:void(0)" class="delete_meal_entry" style="cursor: pointer;float:right;margin-right:10px;">[DELETE]</a>
    
    <% if(item.id) { %>
        <a onclick="javascript:void(0)" class="save_meal_entry" style="cursor: pointer;float:right;margin-right:10px;">[SAVE]</a>
    <% } else { %>
        <a onclick="javascript:void(0)" class="save_meal_entry" style="cursor: pointer;float:right;margin-right:10px;">[CONTINUE]</a>
    <% } %>
    <div class="clr"></div>
    <hr style="margin:0;">
</div>

<% if(item.id) { %>
    <div class="clr"></div>
    <br/>
    <hr style="margin:0;">
    <br/>
    <a onclick="javascript:void(0)" class="create_meal" style="cursor: pointer;margin-left:50px;">[create a new meal]</a>
    <a onclick="javascript:void(0)" class="add_meal_from_database" style="cursor: pointer;margin-right:50px;float:right;">[add a meal from the database]</a>
    
    <div class="clr"></div>
    <br/>
    <hr>
    <br/>
    <div class="diary_meals_wrapper"></div>
    
    <div class="clr"></div>
    <br/>
    <div class="add_meal_entry_container add_area">
        <div class="add_meal_entry">click to create a new entry</div>
    </div>

    
<% } %>



