<div id="toolbar" class="toolbar-list fitness_block_wrapper" style="height:55px;border:none;">

    <a style="cursor: pointer;margin-right:10px; float:right;" data-id="<%= id %>" id="close"  class="toolbar" onclick="javascript:void(0)">
        <span class="icon-32-cancel"> </span>
        Close
    </a>


    <a style="cursor: pointer;margin-right:10px; float:right;" data-id="<%= id %>" id="trash"  class="toolbar" onclick="javascript:void(0)">
        <span class="icon-32-trash"> </span>
        Trash
    </a>

    <div class="clr"></div>
</div>


