<div class="fitness_block_wrapper page_container_width" style="height:30px;">
    <div class="internal_wrapper ">
        <div style="width:100%;">
            <a data-id="<%= id %>" style="cursor: pointer;margin-right:10px; float:right;" id="close" onclick="javascript:void(0)">[CLOSE]</a>

            <a data-id="<%= id %>" style="cursor: pointer;margin-right:10px; float:right;" id="trash" onclick="javascript:void(0)">[TRASH]</a>

        </div>
        <div class="clr"></div>
    </div>
    <hr class="orange_line">
</div>